<LINK href="#springUrl('/htdocs/msp/css/base.css')" type="text/css"
	rel="stylesheet">
<script src="#springUrl('/htdocs/scripts/jquery-1.4.2.min.js')"
	type="text/javascript"></script>
#set( $flag = ("$!{auditInfo.promoterFsFlag}"=="0"))
#if("$!{auditInfo.id}"=="")
<div class="caption">
	<h1 style="color: red;">没有查询到相应的待审批数据，请重试！</h1>
	<a href="#" class="btn2" id="closeBtn" onclick="window.close();">关闭</a>
</div>
#else
<div class="caption">#if("$!{auditInfo.opType}"=="3")
	代理商保证金调额#elseif("$!{auditInfo.opType}"=="11")代理商临时调额#end审批</div>
<table class="dtlTb" cellspacing="1" cellpadding="0">
	#parse("/newt0/apply/base.vm")
	<table />
	<div style="height: 10px; border: 0px;"></div>
	<table class="dtlTb" cellspacing="1" cellpadding="0">
		<tr>
			<td class="lbl" width="200">审批结果：</td>
			<td width="300"><input type="radio" name="auditResult"
				#if("$!{auditInfo.status}"== "3")checked#end value="1"
				onclick="auditDescChange(this)">通过 &nbsp; <input
				type="radio" name="auditResult" #if("$!{auditInfo.status}"==
				"4")checked#end value="0" onclick="auditDescChange(this)">拒绝</td>
		</tr>
		#if("$!{auditInfo.opType}"=="3")
		<tr id="loaningType_tr">
			<td class="lbl" width="200">垫资方：</td>
			<td width="300"><input type="radio" name="loaningType"
				#if("$!{auditInfo.loaningType}"== "1")checked#end value="1"
				onclick="fastSettleLimitChange(this)">盛付通全资 &nbsp; <input
				type="radio" name="loaningType" #if("$!{auditInfo.loaningType}"==
				"0")checked#end value="0" onclick="fastSettleLimitChange(this)">代理商全资
			</td>
		</tr>
		#end

		<tr id="fastSettleLimit_tr">
			<td class="lbl" width="200">#if("$!{auditInfo.opType}"=="3")
				工作日额度#elseif("$!{auditInfo.opType}"=="11")今日总额度调整为#end：</td>
			<td width="300"><input id="fastSettleLimit"
				name="fastSettleLimit" #if("$!{auditInfo.loaningType}"==
				"0")disabled#end value="" />元</td>
		</tr>
		<tr style="display: none" id="auditDesc_tr">
			<td class="lbl" width="200">拒绝理由：</td>
			<td width="300"><input id="auditDesc" type="text"
				name="auditDesc" style="width: 220px;" value="" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><a href="javascript:void(0);" class="btn2"
				id="saveBtn"
				onclick="applyOnlineInitEdit('$!{auditInfo.id}','$!{auditInfo.promoterId}')">保存</a>
				<a href="javascript:void(0);" class="btn2" id="closeBtn" onclick="window.close();">关闭</a>
			</td>
		</tr>
	</table>
	#end
	<script type="text/javascript">
	var fastSettleMargin=$!{fastSettleMargin};
	var opType=$!{auditInfo.opType};

    function applyOnlineInitEdit(id,mcId){
		var fastSettleLimit=jQuery("#fastSettleLimit").val();
		var auditDesc=jQuery("#auditDesc").val();
		var loaningType=jQuery("input[name='loaningType']:checked").val();
		var auditResult=jQuery("input[name='auditResult']:checked").val();
		if(auditResult==''||auditResult==null||auditResult==undefined){
			alert("请选择审核结果");
			return false;
		}
		if((fastSettleLimit==''||fastSettleLimit==undefined)&&auditResult==1){
			alert("请填写额度");
			return false;
		}
		 if((auditDesc==''||auditDesc==undefined)&&auditResult==0){
			alert("请填写拒绝理由");
			return false;
		} 
		
		if((loaningType==''||loaningType==null||loaningType==undefined)&&auditResult==1&&opType==3){
			alert("请选择垫资方类型");
			return false;
		}
		/* 
		if(loaningType==''&&opType==3){
			alert("请选择垫资方");
			return false;
		} */
    	if(!confirm("是否确认修改？（不可撤销，修改后代理商将收到短信通知）")){
    		return false;
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/fastSettle/newt0/applyOnlineSaveEdit.do')" ,
		    data: {id:id,mcId:mcId,fastSettleLimit:fastSettleLimit,loaningType:loaningType,auditResult:auditResult,auditDesc:auditDesc} ,
		    dataType: "json",
		    success: function(data){
		    	alert(data.errorMessage);
				if(data&&data.success==true){
					window.close();
				}
		    }
		});
    }
	function fastSettleLimitChange($s){
    	if(jQuery($s).val()==1){
    		jQuery("#fastSettleLimit").removeAttr("disabled");
    	}else if(jQuery($s).val()==0){
    		jQuery("#fastSettleLimit").val(fastSettleMargin);
    		jQuery("#fastSettleLimit").attr("disabled","disabled");
    	}
	}
	function auditDescChange($s){
    	if(jQuery($s).val()==1){
    		jQuery("#fastSettleLimit_tr").show();
    		jQuery("#loaningType_tr").show();
    		jQuery("#auditDesc_tr").hide();
    		jQuery("#auditDesc").val("");
    	}else if(jQuery($s).val()==0){
    		jQuery("#fastSettleLimit_tr").hide();
    		jQuery("#loaningType_tr").hide();
    		jQuery("#auditDesc_tr").show();
    	}
	}
</script>