#set($page_title = '在线审核管理 ')
#set($formName = 'submitForm')
<div class="TableForm">
	<h2 class="Mtit">$page_title</h2>
	<div class="AreaTb">
		<form id="submitForm" name="submitForm" method="post" action="#springUrl('/ajaxPaging/marginTransQuery.do')">
		<table class="qryTb" cellspacing="0" cellpadding="0">
		    <tr>
		    	<td class="lbl" >拓展方类型：</td>
		        <td width="200">
		            <select id="promoterType" name="promoterType" class="w130">
		                <option value="">全部</option>
		                <option value="0003" #if("$!{params.promoterType}"=="0003")selected#end>POS拓展方</option>
		                <option value="0007" #if("$!{params.promoterType}"=="0007")selected#end>MPOS拓展方</option>
		                <option value="0101" #if("$!{params.promoterType}"=="0101")selected#end>云收银拓展方</option>
		            </select>
		        </td>
		        <td class="lbl">拓展方名称：</td>
		        <td width="200"><input type="text" id="promoterName" name="promoterName" style="width: 139px"
		                   value="$!{params.promoterName}" class="txt130"/></td>
		        <td class="lbl" >拓展方商户号：</td>
		        <td width="200"><input type="text" id="promoterNo" name="promoterNo" style="width: 139px" class="txt130"
		                               value="$!{params.promoterNo}"/></td>
		    </tr>
		    <tr>
		         <td class="lbl" >申请类型：</td>
		        <td width="200"> 
					<select id="opType" name="opType" class="w130">
						<option value="">---所有---</option>
						<option value="3" >代理商保证金调额</option>
						<option value="11" >代理商临时调额</option>
					</select></td>
		    
		        <td class="lbl" >审核状态：</td>
		        <td width="200" colspan="4"> 
					<select id="auditStatus" name="auditStatus" class="w130">
						<option value="">---所有---</option>
						<option value="1" selected>待审核</option>
						<option value="3" >审核通过</option>
						<option value="4" >审核未通过</option>
						<option value="5" >申请已过期</option>
						<option value="6" >申请已撤销</option>
					</select>
			  </td>
		    </tr>
		     <tr>
		   		<td class="lbl">在线申请时间：</td>
		        <td colspan="7">
		            <input type="text" id="createTimeStart" name="createTimeStart" class="date txt130" onclick="xDatePicker(2);"/>
		            ~
		            <input type="text" id="createTimeEnd" name="createTimeEnd" class="date txt130" onclick="xDatePicker(2);"/>
		            <a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( -29, elm('createTimeStart'), 0, elm('createTimeEnd') );return false;" title="交易时间范围：30天内">30</a>
					<a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( -14, elm('createTimeStart'), 0, elm('createTimeEnd') );return false;" title="交易时间范围：15天内">15</a>
					<a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( -6, elm('createTimeStart'), 0, elm('createTimeEnd') );return false;" title="交易时间范围：7天内">7</a>
					<a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( -2, elm('createTimeStart'), 0, elm('createTimeEnd') );return false;" title="交易时间范围：3天内">3</a>
					<a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( -1, elm('createTimeStart'), -1, elm('createTimeEnd') );return false;" title="交易时间范围：昨天">昨</a>
					<a href="javascript:void(0);" class="smBtn" onclick="setTimeStartEnd( 0, elm('createTimeStart'), 0, elm('createTimeEnd') );return false;" title="交易时间范围：今天">今</a>
		        </td>
		    </tr>
		    <tr>
		        <td colspan="6" align="center">
		            <a href="javascript:void(0);" class="btn2" id="queryBtn" onclick="ajaxPaging()">查询</a>
		            <span class="gray" id="querying" style="display:none;">查询中...</span>
		            <a href="javascript:void(0);" class="smBtn mgL10" onclick="clearAll();" title="清除所有查询条件">清</a>
		        </td>
		    </tr>
		</table>
        </form>
    </div>
</div>
<div class="TableForm">
	<h2 class="Mtit">查询结果</h2>
	<div id="container" class="RealTb">
    </div>
</div>

<script type="text/javascript">
	window.onload=function(){
		//setTimeStartEnd(0,elm("txnTimeStartStr"),0,elm("txnTimeEndStr"));
	};	
	var ALL_COND_ID = ['promoterType', 'promoterName', 'promoterNo', 'createTimeStart', 'createTimeEnd', 'auditStatus','opType'];
	function clearAll(){
		for(i in ALL_COND_ID){
    		jQuery("#"+ALL_COND_ID[i]).val("");
    	}
	}
    //ajax翻页
    function ajaxPaging(){
    	var currentPage=jQuery("#currentPage_submitForm").val();
    	currentPage=currentPage?currentPage:1;
    	var data = {"currentPage":currentPage};
    	for(i in ALL_COND_ID){
    		data[ALL_COND_ID[i]] = jQuery("#"+ALL_COND_ID[i]).val();
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/fastSettle/newt0/ajaxPaging/applyOnlineQuery.do')" ,
		    data: data ,
		    dataType: "html",
		    success: function(data){
		    	jQuery("#container").html(data);
		    }
		});
    }
    
    //开通快速结算账户
	function openAccount(promoterId){
		if(confirm("确定要开通快速结算功能吗？")){
			jQuery.ajax({
				type: 'POST',
			    url: "#springUrl('/fastSettle/openAccount.do')" ,
			    data: {promoterId:promoterId} ,
			    dataType: "json",
			    success: function(data){
		    		if(data&&data.success){
		    			alert("快速结算功能开通成功！");
		    			return;
		    		}
			    	var msg = data&&data.errorMessage?data.errorMessage:"快速结算申请开通失败！";
	    			alert(msg);
			    }
			});	
		}
	}
    
	//关闭快速结算账户
	function closeAccount(promoterId){
		if(confirm("确定要关闭快速结算功能吗？")){
			jQuery.ajax({
				type: 'POST',
			    url: "#springUrl('/fastSettle/closeAccount.do')" ,
			    data: {promoterId:promoterId} ,
			    dataType: "json",
			    success: function(data){
		    		if(data&&data.success){
		    			alert("快速结算功能关闭成功！");
		    			return;
		    		}
			    	var msg = data&&data.errorMessage?data.errorMessage:"快速结算功能关闭失败！";
	    			alert(msg);
			    }
			});	
		}
	}
</script>