#set($formName = 'submitForm')
#set ($functionName="ajaxPaging()")
#parse("/control/page_ajax.vm")
<table class="listTb" cellspacing="0" cellpadding="0" id="Gv_MainList">
	<tr>
		<td width="3%">id</td>
		<td width="5%">机构号</td>
		<td width="7%">批处理编号</td>
		<td width="5%">执行表达式</td>
		<td width="2%">重试次数</td>
		<td width="2%">重试间隔(单位秒)</td>
		<td width="5%">状态</td>
		<td width="5%">创建时间</td>
		<td width="5%">修改时间</td>
		<td width="1%">操作</td>
	</tr>
	#foreach($o in $!{query.pageList})
	<tr>
		<td>$!{o.id}</td>
		<td>$!{o.orgnizationCode}</td>
		<td>$!{o.batchCode}</td>
		<td>$!{o.executeExpression}</td>
		<td>$!{o.retryCount}</td>
		<td>$!{o.retryInterval}</td>
		<td>$!{o.status}</td>
		<td>#showDateTime($!{o.createTime})</td>
		<td>#showDateTime($!{o.updateTime})</td>
		<td>
			<a class="lk1" href="#springUrl('/threadConfig/initEdit.do')?po.id=$!{o.id}" target="_blank">修改</a>
		</td>
	</tr>
	#end
</table>
