<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>补充协议</title>
	<style>
	*{margin: 0;padding: 0;list-style: none;}
	.content{width: 1000px;margin: 0 auto;font-size: 14px;color: #585858;padding: 20px 0;}
	.content p{line-height: 32px;}
	h2{font-size: 24px;text-align:center;}
	span{color: #00f;}
	</style>
</head>
<body>
	<div class="content">
		<h2>补充协议</h2>
		<p>甲方：[上海盛付通电子支付服务有限公司]</p>
		<p>乙方：[乙方公司全称]</p>
		<p>鉴于双方已于______年______月______日签订了《          》（合同编号：　　　　　）（以下简称“原协议”），现经双方友好协商，就乙方向甲方申请开通乙方项下商户T+0结算业务于______年______月______日在上海市浦东新区签订如下补充协议：</p>
		<p>1、乙方应乙方项下拓展和管理的商户要求，针对经营规范，信用度高的商户，向乙方申请T+0结算。乙方负责开通T+0结算商户的鉴别和审核，保证乙方向甲方推荐的商户均符合盛付通T+0结算标准。甲方对乙方推荐的商户进行复核，甲方审核通后为相应的商户开通T+0结算服务。</p>
		<p>2、乙方同意为申请开通T+0结算的商户提供担保，如因乙方推荐开通T+0结算商户导致甲方任何经济损失的，乙方负责承担无限连带赔偿责任。</p>
		<p>3、乙方同意向甲方追加支付保证金      万元，并同意盛付通可以在乙方保证金、分润等其他乙方项下的资金中予以直接扣除上述赔偿金。</p>
		<p>4、双方约定T+0结算服务费费率和乙方分润比例按甲方T+0结算服务规则执行，甲方保留根据商户交易情况及风险控制需要，适时调整T+0结算服务规则（含保证金、费率、分润比例等）的权利。新调整的结算服务规则以甲方书面通知为准。</p>
		<p>5、原协议中其他条款保持不变并继续有效。本补充协议未约定的内容按原协议有关约定执行。</p>
		<p>6、因本协议产生的争议，双方应友好协商；协商不成的，争议应提交本协议签订地人民法院裁决。</p>
		<p>7、本协议一式肆份，经双方盖章后生效，双方各执贰份，具有同等法律效力。</p>
		<p>甲方：[上海盛付通电子支付服务有限公司]</p>
		<p>授权代表：</p>
		<p>盖章</p>
		<p>乙方：[乙方公司全称]</p>
		<p>授权代表：</p>
		<p>盖章</p>
		<h2>保证金连带保证函</h2>
		<p>&nbsp;</p>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="50%" height="32"><p><strong>保证人：<u>            </u>有限公司 </strong></p></td>
		    <td height="32"><p>&nbsp;</p></td>
	      </tr>
		  <tr>
		    <td width="50%" height="32">地址：</td>
		    <td height="32">联系电话： </td>
	      </tr>
		  <tr>
		    <td width="50%" height="32"><strong>连带保证人：</strong></td>
		    <td height="32">身份证号码：</td>
	      </tr>
		  <tr>
		    <td width="50%" height="32">住址：</td>
		    <td height="32">联系电话</td>
	      </tr>
	  </table>
		<p>&nbsp;</p>
		<p>致上海盛付通电子支付服务有限公司：</p>
		<p>保证人于______年______月______日与贵司签订了《盛付通POS收单业务推广合作协议》，现我司向贵司申请收单商户T+0结算业务，保证人及连带保证人就全面履行所有与贵司合作项下合同义务及责任向贵司提供连带责任保证。并承诺如下：</p>
		<p>一、保证人及连带保证人同意对上述《盛付通POS收单业务推广合作协议》和补充协议（如有）及今后可能发生的修补、补充条款中我司的所有合同义务承担无限连带责任。</p>
		<p>二、保证范围：上述协议及补充协议（如有）中全部合同义务及责任。包括但不限于：前述协议及补充协议（如有）约定的欠款、损害赔偿金、实现债权的费用等。</p>
		<p>三、如保证人在履行上述协议及补充协议（如有）过程中造成贵司经济损失的，保证人同意贵司可以直接用保证人在贵司的保证金、分润等资金偿付贵司损失。上述资金不足以补充贵司损失的，由保证人及连带保证人承担赔偿责任。</p>
		<p>四、本保证书是不可撤销的，出现下列情况，无论是否征得保证人及连带保证人同意或是否事先通知我司，皆不影响本保证书的法律效力及继续履行：</p>
		<p> 1、本保证书所涉及的任何一方中当事人的身份、地位发生任何变化；</p>
		<p> 2、本保证书所涉及的任何一方当事人发生合并、分立、停业、撤销破产或是变更名称、住所、章程、法定代表人、经营范围、企业性质或是其上级单位的任何指令或与任何单位签订任何法律文件等导致的变化。</p>
		<p>五、本保证书自保证人及连带保证人签字之日起生效，且自生效之日起不可撤销。</p>
		<p>&nbsp;</p>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="50%" height="50">保证人：（签章）</td>
		    <td height="50">连带保证人：（签章）</td>
	      </tr>
		  <tr>
		    <td width="50%" height="50" align="center" valign="middle">年  月  日 </td>
		    <td height="50" align="center">年  月  日</td>
	      </tr>
	  </table>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</body>
</html>