<LINK href="#springUrl('/htdocs/msp/css/base.css')" type="text/css" rel="stylesheet">
<div class="detailCaption">编辑结算分润比例设置</div>
<table class="dtlTb" cellspacing="0" cellpadding="0">
	<input type="hidden" id="id" name="id" value="$!{ruleInfo.id}"></input>
	<tr>
		<td class="lbl">商户分组：</td>
		<td width="600">
			<select id="groupId" name="groupId" class="w130">
			<option value="-9999" >不指定分组</option>
            	#foreach($o in $groupList)
                	<option value="$!{o.id}" #if("$!ruleInfo.groupId"=="$o.id")selected#end>$!{o.groupCode}-$!{o.groupName}</option>
            	#end
			</select>
		</td>
	</tr>
	<tr>
		<td class="lbl">分润角色：<font color="red">*</font></td>
		<td>
			<select id="splitProfitRoleType" name="splitProfitRoleType" class="w130">
                <option value="0003" #if("$!ruleInfo.splitProfitRoleType"=="0003")selected#end>POS代理商</option>
                <option value="0007" #if("$!ruleInfo.splitProfitRoleType"=="0007")selected#end>MPOS代理商</option>
            </select>
		</td>
	</tr>
	<tr>
		<td class="lbl">分润方：</td>
		<td>
			<input type="text" id="merchantNo" name="merchantNo" maxlength="70" value="$!ruleInfo.merchantNo" class="txt130" size="50" />
		</td>
	</tr>
	<tr>
		<td class="lbl" >结算类型：<font color="red">*</font></td>
        <td>
            <select id="withdrawType" name="withdrawType" class="w130">
                <option value="2" #if("$!ruleInfo.withdrawType"=="2")selected#end>T1</option>
				<option value="3" #if("$!ruleInfo.withdrawType"=="3")selected#end>D1</option>
				<option value="4" #if("$!ruleInfo.withdrawType"=="4")selected#end>T0</option>
            </select>
        </td>
	</tr>
	<tr>
		<td class="lbl">商户首次开通时间：</td>
		<td>
			<input type="text" id="firstOpenTime" name="firstOpenTime" value="#showDate($!{ruleInfo.firstOpenTime})" class="date txt130" onclick="xDatePicker(1);" class="txt130" >
			(该日期后首次开通的商户走本条规则，不填写默认为所有商户)
		</td>
	</tr>
	<tr>
		<td class="lbl" >是否按照垫资天数：<font color="red">*</font></td>
        <td>
            <select id="loaningDayFlag" name="loaningDayFlag" class="w130">
                <option value="0" #if("$!ruleInfo.loaningDayFlag"=="0")selected#end>否</option>
				<option value="1" #if("$!ruleInfo.loaningDayFlag"=="1")selected#end>是</option>
            </select>
        </td>
	</tr>
	<tr>
		<td class="lbl" >垫资方：</td>
        <td>
            <select id="loaningType" name="loaningType" class="w130">
                <option value="-9999" >无</option>
                <option value="1" #if("$!ruleInfo.loaningType"=="1")selected#end>盛付通垫资</option>
                <option value="0" #if("$!ruleInfo.loaningType"=="0")selected#end>代理商垫资</option>
            </select>
			(T0必填)
        </td>
	</tr>
	<tr>
		<td class="lbl">成本费率：<font color="red">*</font></td>
		<td>
			<input type="text" id="costingRate" name="costingRate" value="$!ruleInfo.costingRate" maxlength="70" class="txt130" size="50" />
			(0.02% 请填写0.0002)
		</td>
	</tr>
	<tr>
		<td class="lbl">分润比例：<font color="red">*</font></td>
		<td>
			<input type="text" id="splittingScale" name="splittingScale" value="$!ruleInfo.splittingScale" maxlength="70" class="txt130" size="50" />
			(80% 请填写0.8)
		</td>
	</tr>
	<tr>
		<td class="lbl">提现手续费分润底价：<font color="red">*</font></td>
		<td width="100">
			<input type="text" id="wdSplittingScale" name="wdSplittingScale" value="$!ruleInfo.wdSplittingScale" maxlength="70" class="txt130" size="50" />
		</td>
	</tr>
	<tr>
		<td class="lbl">生效时间：<font color="red">*</font></td>
        <td>
           <input type="text" id="effectiveTime" name="effectiveTime" value="#showDate($!{ruleInfo.effectiveTime})" class="date txt130" onclick="xDatePicker(1);" class="txt130" >
		</td>
	</tr>
	<tr>
		<td class="lbl">失效时间：<font color="red">*</font></td>
		<td>
            <input type="text" id="expireTime" name="expireTime" value="#showDate($!{ruleInfo.expireTime})" class="date txt130" onclick="xDatePicker(1);" class="txt130" >
		</td>
	</tr>
	<tr>
		<td colspan="6" align="center"><a href="#" class="btn2" id="queryBtn" onclick="saveAdd()">保存</a></td>
	</tr>
</table>
<script src="#springUrl('/htdocs/scripts/jquery-1.4.2.min.js')" type="text/javascript"></script>
<script type="text/javascript">

    //保存
    function saveAdd(){
		var id = $("#id").val();
		var groupId=$("#groupId option:selected").val();
		var splitProfitRoleType=$("#splitProfitRoleType option:selected").val();
		var withdrawType = $("#withdrawType option:selected").val();
		var merchantNo = jQuery("#merchantNo").val();
		var firstOpenTime = jQuery("#firstOpenTime").val();
		var loaningDayFlag = $("#loaningDayFlag option:selected").val();
		var loaningType =  $("#loaningType option:selected").val();
		var costingRate = jQuery("#costingRate").val();
		var splittingScale = jQuery("#splittingScale").val();
		var wdSplittingScale = jQuery("#wdSplittingScale").val();
		var effectiveTime=jQuery("#effectiveTime").val();
		var groupName=jQuery("#groupName").val();
		var expireTime=jQuery("#expireTime").val();
    	var data = {id:id,groupId:groupId,splitProfitRoleType:splitProfitRoleType,withdrawType:withdrawType,merchantNo:merchantNo,firstOpenTime:firstOpenTime,loaningDayFlag:loaningDayFlag,loaningType:loaningType,costingRate:costingRate,splittingScale:splittingScale,wdSplittingScale:wdSplittingScale,effectiveTime:effectiveTime,expireTime:expireTime};
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/splitting/rule/update/opreate.do')",
		    data: data ,
		    dataType: "json",
		    success: function(data){
				var success = data.success;
				var respMsg= data.errorMessage;
				if (success==false){
					alert(respMsg);
				} else {
					alert("修改成功");
					window.close();
				}
		    }
		});
    }
</script>