#set($page_title = '分润统计')
#set($formName = 'submitForm')
<div class="TableForm">
	<h2 class="Mtit">$page_title</h2>
	<div class="AreaTb">
		<form id="submitForm" name="submitForm" method="post" enctype='multipart/form-data' action="#springUrl('/splitting/index.do')">
		<input type="hidden" name="splittingStatus" id="splittingStatus"></input>
		<table class="qryTb" cellspacing="0" cellpadding="0">
		    <tbody>
		       <td width="100" class="lbl">起止日期：</td>
					<td width="300">
                        <input type="text" id="queryStartTime" name="queryStartTime" class="date txt130" onclick="xDatePicker(1);" value="$!{queryStartTime}" readonly ="readonly" class="txt130" >
							~
						<input type="text" id="queryEndTime" name="queryEndTime" class="date txt130" onclick="xDatePicker(1);" value="$!{queryEndTime}" readonly ="readonly" class="txt130" >
                	</td>
	    		    <td width="100" class="lbl">分润角色：</td>
			        <td width="100">
			        	<select name="promoterType" id="promoterType" class="w130">
                        	<option value="">全部</option>
                        	<option value="0003" >POS代理商</option>
        					<option value="0007" >MPOS代理商</option>
                        </select>
			        </td>
					<td width="100" class="lbl">分润方商户号：</td>
			        <td width="100">
			        	<input type="text" value="" id="promoterNo" class="txt130" name="promoterNo">
			        </td>
					<!-- <td width="100" class="lbl">结算周期：</td>
			        <td width="100">
			        	<input type="text" id="queryStartTime" name="queryStartTime" readonly="readonly" value="$!{settleQueryBeginTime}"class="date txt130" onclick="xDatePicker2(1);" class="txt130" />
			        </td> -->
			    </tr>
                <tr>
					<td colspan="8" align="center">
						 &nbsp;
			            <a href="#" class="btn2" id="queryBtn" onclick="ajaxPaging();return false;">查询</a>
						<a href="javascript:;" onclick="javascript:exportCollect();return false;" class="btn2" target="_blank">导出汇总</a>
			            <span class="gray" id="querying" style="display: none;">查询中...</span>
			            <a href="#" class="smBtn mgL10" onclick="clearAll();" title="清除所有查询条件">清</a>
			        </td>
				</tr>
			</tbody>
		</table>
        </form>
    </div>
</div>
<div class="TableForm">
	<h2 class="Mtit">查询结果</h2>
	<div id="container" class="RealTb">
    </div>
</div>

<script type="text/javascript">
	var ALL_COND_ID = ['promoterType', 'promoterNo','queryStartTime','queryEndTime',];
	function clearAll(){
		for(i in ALL_COND_ID){
    		jQuery("#"+ALL_COND_ID[i]).val("");
    	}
	}
    //ajax翻页
    function ajaxPaging(){
    	var pageNum = jQuery("#pageNum_submitForm").val();
    	pageNum=pageNum?pageNum:1;
    	var data = {"pageNum":pageNum};
    	for(i in ALL_COND_ID){
    		data[ALL_COND_ID[i]] = jQuery("#"+ALL_COND_ID[i]).val();
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/splitting/statistics/ajaxPaging/statisticsList.do')" ,
		    data: data ,
		    dataType: "html",
		    success: function(data){
		    	jQuery("#container").html(data);
		    }
		});
    }
	//
	function exportCollect(){
		var pageNum = jQuery("#pageNum_submitForm").val();
    	pageNum=pageNum?pageNum:1;
    	var data = {"pageNum":pageNum};
    	for(i in ALL_COND_ID){
    		data[ALL_COND_ID[i]] = jQuery("#"+ALL_COND_ID[i]).val();
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/splitting/statistics/collect/export.do')" ,
		    data: data ,
		    dataType: "json",
		    success: function(data){
		    	var success = data.success;
				var respMsg= data.errorMessage;
				if (success==false){
					alert(respMsg);
				} else {
					alert("导出成功,请到下载中心下载.");
				}
		    }
		});
	}
</script>
