<script type="text/javascript" src="#springUrl('/js/base.js')"></script>
<script type="text/javascript" src="#springUrl('/js/baseExt.js')"></script>
<link rel="stylesheet" href="#springUrl('/js/My97DatePicker/skin/msp/datepicker.css')?version=1" type="text/css">
<script type="text/javascript" src="#springUrl('/js/My97DatePicker/WdatePicker.js')"></script>
<form id="submitForm" name="submitForm">
<div class="content main_box">
		<div class="ban_table clearfix">
			<div class="ban_left l">
    			<a href="#relativeUrl('/debit/myDebitOrders.htm')">我的借款</a>
    			<a href="#relativeUrl('/debit/debitRecordIndex.htm')" >借款申请记录</a>
    			<a href="#relativeUrl('/overdue/index.htm')">逾期管理</a>
    			<a href="#relativeUrl('/credit/appStatusInfo.htm')"  class="on">认证信息中心</a>
			</div>
			<div class="ban_right no_bor l">
				#if($!{applyPO.applyStatus}=='审批成功')
					<div class="succ">
					<span></span>
						<p>贷款信息状态： $!{applyPO.applyStatus}</p>
					</div>
					<p class="update">
						<a href="#relativeUrl('/positionApplyDetail.htm')?id=$!{applyPO.id}">立即查看</a>
					</p>
				#else
					<div class="succ succ_nobg">
					<span></span>
						<p>贷款信息状态： $!{applyPO.applyStatus}</p>
					</div>
				#end
			</div>
		</div>
	</div>
</form>


