<div class="content main_box">
		#**
		<div class="top_title">
			<a href="javascript:;" class="btn_bg_off">额度申请</a>
		</div>
		**#
		<div class="path clearfix" style="padding-left: 130px;">
			<div class="step1 on l">
				<span>1</span>
				<p>上传资料</p>
			</div>
			<div class="step2 on l">
				<span>2</span>
				<p>提交申请 等待审核</p>
			</div>
			<div class="step3 on l">
				<span>3</span>
				<p>审核通过</p>
			</div>
			#*<div class="step4 on l">
				<span>✔</span>
				<p>下载授信协议，签约盖章，额度生效</p>
			</div>*#
		</div>
		<div class="ban_table clearfix">
			<div class="tips">
				<div style="font-size:18px;padding-left:40px;padding-top:30px;">
					$!applySuccess

					##<a style="color:red;font-size:15px;" href="$!{merchantAgreementUrl}" target="_blank">下载协议</a>
				</div>
			</div>
		</div>
</div>
