<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>补充协议</title>
	<style>
	*{margin: 0;padding: 0;list-style: none;}
	.content{width: 1000px;margin: 0 auto;font-size: 14px;color: #585858;padding: 20px 0;}
	.content p{line-height: 32px; text-indent: 40px;}
  p span{color: #f00; }
	h2{font-size: 24px;text-align:center; padding: 10px;}
  h3{font-size: 16px; padding: 10px; text-indent: 30px;}
	span{color: #00f;}
	body,td,th {
	color: #F00;
}
    </style>
</head>
<body>
	<div class="content">
		<h2 align="center"><strong>委托扣款授权书</strong></h2>
    <p>鉴于授权人（即借款人）与担保商户、上海盛畅网络科技有限公司（以下简称“本公司”）签署过《盛畅金融服务合作协议》及相关用款申请书。现授权人同意授权上海盛畅网络科技有限公司（被授权人）为授权人代为办理还款及支付有关费用的手续。现授权人郑重声明已仔细阅知、理解下述各项规定并同意遵守：</p>
    <p>一、授权人同意被授权人按照《盛畅金融服务合作协议》和相关用款申请书的约定，委托上海盛付通电子支付服务有限公司（以下简称盛付通）从本授权书指定的账户内（即本公司系统上填写的银行账户）划付还款资金以及其他各种应支付款项。</p>
    <p>二、授权人在指定账户中必须留有足够余额，否则因账户余额不足或不可归责于被授权人、盛付通的任何事由，导致无法及时扣款或扣款错误、失败的，责任由授权人自行承担。</p>
    <p>三、授权人拟变更代收账户、通讯地址时，应在当期款项划付30个工作日前向被授权人递交书面通知并在本公司系统上提交变更，否则自行承担由此造成的风险损失。</p>
    <p>四、授权人保证本授权书系其真实意思表示，保证本授权书内容真实、合法、有效。</p>
    <p>五、授权人保证其对被授权人依据本授权书进行的委托扣款操作行为均予以认可，由此引起的一切法律纠纷或风险均由授权人独立承担或解决。</p>
    <p>六、授权人（即借款人）通过网络页面点击确认或以其他方式选择接受本协议，即表示授权人（即借款人）与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。</p>


</div>
</body>
</html>