<script type="text/javascript">
function showFileContent(id){
		var storeKey = $("#hidden_" + id +"_storeKey").val();
		var oriFileName = $("#hidden_" + id +"_oriFileName").val();
		var contentType = $("#hidden_" + id +"_contentType").val();
		window.open("../posPromoter/file/newDownload.htm?storeKey=" + storeKey+"&oriFileName="+oriFileName+"&contentType="+contentType);
	}

</script>
<form id="date_form" name="date_form">
			<div class="l">
				<div class="ban_left">
					<a href="#h_1" class="on">申请人基础信息</a>
					<a href="#h_2">申请贷款信息</a>
					<a href="#h_3">申请人征信信息</a>
					<a href="#h_4">申请人联系信息</a>
				</div>
			</div>

			<div class="ban_right l">
				<h2>额度申请表</h2>
				<table>
					<tr>
						<td width="80" height="10"></td>
					</tr>
				</table>

			  <h3 id="h_1">申请人基础信息</h3>
				<table class="mes_table">
					<tr>
						<td width="130" height="38"><span></span>姓名:</td>
					  <td width="175" height="38" colspan="3">$!{creditLineApplyRequest.applicantName}</td>
				  </tr>
					<tr>
						<td width="130" height="38"><span></span>身份证号：</td>
					  <td width="175" height="38" colspan="3">$!{creditLineApplyRequest.applicantIdNo}</td>
				  </tr>

					<tr>
						<td width="130" height="38"><span></span>身份证正面照:</td>

						<td width="" height="38" colspan="3">
							<input type="hidden" id ='hidden_positiveCardFileInfo_storeKey' name="positiveCardFileInfo.storeKey" value="$!{creditLineApplyRequest.positiveCardFileInfo.storeKey}">
							<input type="hidden" id ='hidden_positiveCardFileInfo_contentType' name="positiveCardFileInfo.contentType" value="$!{creditLineApplyRequest.positiveCardFileInfo.contentType}">
							<input type="hidden" id ='hidden_positiveCardFileInfo_oriFileName' name="positiveCardFileInfo.oriFileName" value="$!{creditLineApplyRequest.positiveCardFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.positiveCardFileInfo.storeKey}"=="") )
							<div id="div_positiveCardFileInfo">
							  $!{creditLineApplyRequest.positiveCardFileInfo.oriFileName}
								<a href="javascript:showFileContent('positiveCardFileInfo');">查看</a>
							</div>
							#end
						</td>
					</tr>

					<tr>
						<td width="130" height="38"><span></span>身份证背面照:</td>
						<td width="" height="38" colspan="3">
							<input type="hidden" id ='hidden_backCardFileInfo_storeKey' name="backCardFileInfo.storeKey" value="$!{creditLineApplyRequest.backCardFileInfo.storeKey}">
							<input type="hidden" id ='hidden_backCardFileInfo_contentType' name="backCardFileInfo.contentType" value="$!{creditLineApplyRequest.backCardFileInfo.contentType}">
							<input type="hidden" id ='hidden_backCardFileInfo_oriFileName' name="backCardFileInfo.oriFileName" value="$!{creditLineApplyRequest.backCardFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.backCardFileInfo.storeKey}"=="") )
								<div id="div_backCardFileInfo">
								  $!{creditLineApplyRequest.backCardFileInfo.oriFileName}
								  <a href="javascript:showFileContent('backCardFileInfo');">查看</a>
							</div>
							#end
						</td>
					</tr>
					<tr>
						<td width="130" height="38"><span></span>性别：</td>
						<td width="175" height="38" colspan="3">
							   #if("$!{creditLineApplyRequest.applicantSex}"=="a")<label class="label-input">男</label>#end
							   #if("$!{creditLineApplyRequest.applicantSex}"=="b")<label class="label-input">女</label>#end
						</td>
				  </tr>

					<tr>
						<td width="130" height="38"><span></span>婚姻状况：</td>
						<td width="105" height="38">
							 #if("$!{creditLineApplyRequest.maritalStatus}"==""||"$!{creditLineApplyRequest.maritalStatus}" == "a") 未婚 #end
							 #if("$!{creditLineApplyRequest.maritalStatus}" == "b")已婚#end
							 #if("$!{creditLineApplyRequest.maritalStatus}" == "c")离异#end
							 #if("$!{creditLineApplyRequest.maritalStatus}" == "d")丧偶#end
						</td>
				  	<td width="185" height="38">上传本人及子女户口本信息:</td>
						<td height="38">
							<input type="hidden" id ='hidden_accountBookFileInfo_storeKey' name="accountBookFileInfo.storeKey" value="$!{creditLineApplyRequest.accountBookFileInfo.storeKey}">
							<input type="hidden" id ='hidden_accountBookFileInfo_contentType' name="accountBookFileInfo.contentType" value="$!{creditLineApplyRequest.accountBookFileInfo.contentType}">
							<input type="hidden" id ='hidden_accountBookFileInfo_oriFileName' name="accountBookFileInfo.oriFileName" value="$!{creditLineApplyRequest.accountBookFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.accountBookFileInfo.storeKey}" =="") )
								<div id="div_accountBookFileInfo">
							 $!{creditLineApplyRequest.accountBookFileInfo.oriFileName}
								<a href="javascript:showFileContent('accountBookFileInfo');">查看</a>
							</div>
							#end
						</td>
				  </tr>
					<tr>
						<td width="130" height="38"><span></span>子女数量：</td>
						<td width="175" height="38" colspan="3">$!{creditLineApplyRequest.quantityOfChildren}人</td>
				  </tr>
				</table>

			  <h3 id="h_2">申请贷款信息</h3>
				<table class="mes_table">
					<tr>
						<td width="130" height="38"><span></span>申请额度:</td>
					  <td width="175" height="38">
						#if("$!{creditLineApplyRequest.applicantAmount}"==""||"$!{creditLineApplyRequest.applicantAmount}" == "a") 0~20000#end
						#if("$!{creditLineApplyRequest.applicantAmount}" == "b") 20000~50000#end
						#if("$!{creditLineApplyRequest.applicantAmount}" == "c") 50000~100000#end
						#if("$!{creditLineApplyRequest.applicantAmount}" == "d") 100000~500000#else $!{creditLineApplyRequest.applicantAmount} #end
						元/RMB
					  </td>
						<td width="120" height="38" colspan="5"></td>
				  </tr>
					<tr>
					 <td width="130" height="38"><span></span>盛付通个人<br/>&nbsp&nbsp钱包账号：</td>
					  <td width="175" height="38">$!{creditLineApplyRequest.persionalLoginName}</td>
				  </tr>
				</table>
			<h3 id="h_3">申请人征信信息</h3>
				<table class="mes_table">

					  <tr>
					    <td width="130" height="38"><span></span>上传商户营<br>&nbsp&nbsp业执照：</td>
						<td width="150"  height="38" colspan="3">
							<input type="hidden" id ='hidden_businessLicenseFileInfo_storeKey' name="businessLicenseFileInfo.storeKey" value="$!{creditLineApplyRequest.businessLicenseFileInfo.storeKey}">
							<input type="hidden" id ='hidden_businessLicenseFileInfo_contentType' name="businessLicenseFileInfo.contentType" value="$!{creditLineApplyRequest.businessLicenseFileInfo.contentType}">
							<input type="hidden" id ='hidden_businessLicenseFileInfo_oriFileName' name="businessLicenseFileInfo.oriFileName" value="$!{creditLineApplyRequest.businessLicenseFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.businessLicenseFileInfo.storeKey}"=="") )
								<div id="div_businessLicenseFileInfo">
									$!{creditLineApplyRequest.businessLicenseFileInfo.oriFileName}
								   <a href="javascript:showFileContent('businessLicenseFileInfo');">查看</a>
							</div>
							#end

						</td>
					  </tr>
					  <tr>
					    <td width="130"><span></span>个人征信报告：</td>
					    <td width="150">上传人行征信报告：</td>
						<td height="38">
							<input type="hidden" id ='hidden_creditReportFileInfo_storeKey' name="creditReportFileInfo.storeKey" value="$!{creditLineApplyRequest.creditReportFileInfo.storeKey}">
							<input type="hidden" id ='hidden_creditReportFileInfo_contentType' name="creditReportFileInfo.contentType" value="$!{creditLineApplyRequest.creditReportFileInfo.contentType}">
							<input type="hidden" id ='hidden_creditReportFileInfo_oriFileName' name="creditReportFileInfo.oriFileName" value="$!{creditLineApplyRequest.creditReportFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.creditReportFileInfo.storeKey}"==""))
								<div id="div_creditReportFileInfo">
							   $!{creditLineApplyRequest.creditReportFileInfo.oriFileName}
								<a href="javascript:showFileContent('creditReportFileInfo');">查看</a>
							</div>
							#end
						 </td>
					  </tr>
					  <tr>
					    <td width="130">经营房地产<br />
					          情况：</td>
					    <td width="175">
							#if("$!{creditLineApplyRequest.qiantityOfHouse}"=="")0#else $!{creditLineApplyRequest.qiantityOfHouse} #end套</td>
					    <td>上传房产证明：</td>
					    <td>
							<input type="hidden" id ='hidden_housePropertyFileInfo_storeKey' name="housePropertyFileInfo.storeKey" value="$!{creditLineApplyRequest.housePropertyFileInfo.storeKey}">
							<input type="hidden" id ='hidden_housePropertyFileInfo_contentType' name="housePropertyFileInfo.contentType" value="$!{creditLineApplyRequest.housePropertyFileInfo.contentType}">
							<input type="hidden" id ='hidden_housePropertyFileInfo_oriFileName' name="housePropertyFileInfo.oriFileName" value="$!{creditLineApplyRequest.housePropertyFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.housePropertyFileInfo.storeKey}"==""))
								<div id="div_housePropertyFileInfo">
							    $!{creditLineApplyRequest.housePropertyFileInfo.oriFileName}
								<a href="javascript:showFileContent('housePropertyFileInfo');">查看</a>
							</div>
							#end
						</td>
					  </tr>
					<tr>

						<td  width="130">上传其他财产证明：<br><label class="small-orange">（如车辆、存款等）</label></td>
						<td colspan="3">
							<input type="hidden" id ='hidden_otherPropertyFileInfo_storeKey' name="otherPropertyFileInfo.storeKey" value="$!{creditLineApplyRequest.otherPropertyFileInfo.storeKey}">
							<input type="hidden" id ='hidden_otherPropertyFileInfo_contentType' name="otherPropertyFileInfo.contentType" value="$!{creditLineApplyRequest.otherPropertyFileInfo.contentType}">
							<input type="hidden" id ='hidden_otherPropertyFileInfo_oriFileName' name="otherPropertyFileInfo.oriFileName" value="$!{creditLineApplyRequest.otherPropertyFileInfo.oriFileName}">

							#if(!("$!{creditLineApplyRequest.otherPropertyFileInfo.storeKey}"=="") )
							<div id="div_otherPropertyFileInfo">
							   $!{creditLineApplyRequest.otherPropertyFileInfo.oriFileName}
								<a href="javascript:showFileContent('otherPropertyFileInfo');">查看</a>
							</div>
							#end
						</td>
					</tr>
				</table>


			<h3 id="h_4">申请人联系信息</h3>
				<table class="mes_table">
				  <tr>
				    <td width="130"><span></span>申请人手机：</td>
				    <td width="150">$!{creditLineApplyRequest.applicantPhone}</td>
				    <td width="100">办公电话：</td>
				    <td>$!{creditLineApplyRequest.telephoneAreaCode}
				      -
				      $!{creditLineApplyRequest.telephone}
				      -
				      $!{creditLineApplyRequest.extensionTelephone}</td>
				  </tr>
				  <tr>
				    <td><span></span>居住地址：</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-table">
				      <tr>
				        <td>$!{creditLineApplyRequest.homeAddress}</td>
				      </tr>
				    </table></td>
				  </tr>
				  <tr>
				    <td><span></span>经营地址：</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-table">
				      <tr>
				        <td>$!{creditLineApplyRequest.cityStr}</td>
				      </tr>
				    </table></td>
				  </tr>
				  <tr>
				    <td>其他联系<br />
				    方式：</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-table">
				      <tr>
				        <td width="130">电子邮件
				          $!{creditLineApplyRequest.email}</td>
				        <td width="130">&nbsp;&nbsp;&nbsp;&nbsp;QQ号
				          $!{creditLineApplyRequest.qqNo}</td>
				        <td width="120">微信号
				          $!{creditLineApplyRequest.weChatNo}</td>
				      </tr>
				    </table></td>
				  </tr>
				  <tr>
				    <td><span></span>其他联系人<br />
				    信息：</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-table">
				      <tr>
				        <td width="130">配偶姓名
				          $!{creditLineApplyRequest.spouseName}</td>
				        <td width="130">手机号码
				          $!{creditLineApplyRequest.spousePhone}</td>
				        <td width="120">身份证
				          $!{creditLineApplyRequest.spouseIdNo}</td>
				      </tr>
				    </table></td>
				  </tr>
				  <tr>
				    <td>&nbsp;</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					      <tr>
					        <td width="100">
								亲戚关系 #if("$!{creditLineApplyRequest.relative1}"=="a")其他#elseif("$!{creditLineApplyRequest.relative1}"=="b") 朋友 #end
							</td>
					        <td width="130">姓名
					          $!{creditLineApplyRequest.relativeName1}</td>
					        <td width="150">手机号码
					          $!{creditLineApplyRequest.relativePhone1}</td>
					      </tr>
					    </table></td>
				  </tr>
				  <tr>
				    <td>&nbsp;</td>
				    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					      <tr>
					        <td width="100">
								亲戚关系 #if("$!{creditLineApplyRequest.relative1}"=="a")其他#elseif("$!{creditLineApplyRequest.relative1}"=="b") 朋友 #end
							</td>
					        <td width="130">姓名
					          $!{creditLineApplyRequest.relativeName2}</td>
					        <td width="150">手机号码
					          $!{creditLineApplyRequest.relativePhone2}</td>
					      </tr>
					    </table></td>
				  </tr>
				</table>
			</div>
		</div>
	</div>
</form>
