<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>补充协议</title>
	<style>
	*{margin: 0;padding: 0;list-style: none;}
	.content{width: 1000px;margin: 0 auto;font-size: 14px;color: #585858;padding: 20px 0;}
	.content p{line-height: 32px; text-indent: 40px;}
  p span{color: #f00; }
	h2{font-size: 24px;text-align:center; padding: 10px;}
  h3{font-size: 16px; padding: 10px; text-indent: 30px;}
	span{color: #00f;}
	body,td,th {
	color: #F00;
}
    </style>
</head>
<body>
	<div class="content">
		<h2 align="center"><strong>盛畅金融服务合作协议</strong></h2>
    <p>盛畅金融服务合作协议（以下简称“本协议”）是上海盛畅网络科技有限公司（以下简称“本公司”）与借款人和担保商户在平等友好自愿的情况下订立的有效约定。借款人、担保商户通过网络页面点击确认或以其他方式选择接受本协议，即表示借款人、担保商户与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。</p>
    <h3>第一条 合作内容</h3>
    <p>因借款人为本公司合作伙伴的线下收单服务商户的实际经营人和法定代表人，在本公司合作伙伴线下收单服务系统中有稳定的交易资金流水（以下简称：线下收单交易资金），现为促进借款人的发展，本公司向借款人提供固定期限和固定额度的金融服务产品资金，担保商户为借款人获得本公司的上述金融服务产品资金承担连带责任，本公司因此向借款人收取相应的服务手续费：</p>
<p>服务手续费率(简称服务费率): 指本公司向借款人收取的金融服务的固定费率。</p>
<p>服务手续费（简称手续费）: 为金融服务产品资金*服务费率。</p>

    <h3>第二条 三方权利与义务</h3>
    <p>1、 借款人应当是正规合法经营的企业主，财务状况良好，无任何不良信誉行为。</p>
    <p>2、本公司为借款人提供的金融服务产品额度总额以借款人在本公司线上系统申请为准，在本协议签约之日起一年内循环使用，每一个循环周期最短为一天，最长为六十天，在每次循环前，借款人应在本公司线上申请，在每个循环到期日，借款人应以约定的还款方式全部还清本公司提供的金融服务产品资金，服务费率、实际使用期限具体以本公司线上系统为准。</p>
    <p>3、本公司有权根据借款人经营情况、交易情况、信用情况及还款情况等调整向借款人提供的金融服务产品总额，但应将调整情况及时通知借款人，在借款人未按时归还本循环批次资金时，本公司不再提供下批次循环资金，在最后一个循环周期结束时，本公司也不再向借款人提供金融服务产品资金。</p>
    <p>4、借款人应按约定将相应款项按时足额支付给本公司。若本公司指定借款人还款账户为本公司合作伙伴上海盛付通电子支付服务有限公司的盛付通钱包账户，则借款人应按本公司要求开立盛付通钱包账户，本公司有权从借款人的盛付通钱包账户中直接扣取相应款项及手续费；未经本公司书面同意，借款人不得单方面变更或注销该账户，否则本公司有权据此停止对借款人提供服务，并且借款人应当承担和赔偿因此而给本公司带来的所有损失。</p>
    <p>5、在没有涉及可疑交易、非法交易、高风险交易或交易纠纷的前提条件下，借款人按本公司风险控制部门要求提交相关材料申请，在本公司审核通过后、借款人缴纳相应的手续费后本公司将每批次相应的金融服务产品资金入账到借款人指定的盛付通钱包账户。</p>
    <p>6、借款人承诺：①本公司提供给借款人的金融服务产品资金专款专用，专项用于借款人生产经营资金周转；②借款人保证无论何种原因都应按时足额还清本公司提供的金融服务产品资金。</p>
    <p>7、本公司认为借款人或担保商户存在可能危及本公司资金安全的情形（包括但不限于借款人违反本合同任何义务性条款、借款人线下收单交易资金异常、借款人经营状况异常或恶化、借款人主营业务发生变更、借款人经营团队发生变更等），或者借款人未按本协议约定使用本公司提供的资金，本公司有权选择变更约定的资金循环使用方式、额度或缩短资金使用期限直至本公司单方面提前终止本协议，收回全额或部分资金，但担保商户仍需为上述变更为借款人承担连带责任。</p>
    <p>8、担保商户向本公司提供全额不可撤销的连带还款责任，并以本公司合作伙伴线下收单服务系统中担保商户盛付通商户号中的稳定的交易资金流水作为担保承担连带责任。</p>
    <p>9、担保商户担保范围：借款人应当返还本公司的金融服务产品资金、违约金以及本公司为实现债权花费的律师费、差旅费、诉讼费等相关费用，担保期限为本合同生效之日起至本合同项下全部债权履行期限届满之日起再加两年。</p>

    <h3>第三条 还款及逾期处理</h3>
    <p>1、借款人有义务按照借款人与本公司约定的时间按时足额还款，还款时间以本公司到账时间为准。</p>
    <p>2、若借款人无法按时足额还款，本公司将采取以下措施：</p>
    <p>①借款人、担保商户同意本公司及本公司任一关联公司、合作伙伴暂停结算等同于未还款金额的担保商户盛付通商户号中的线下收单交易资金；</p>
    <p>②本公司向借款人按自然日未还款金额计收滞纳金；</p>
    <p>③本公司及时向借款人发出催款通知并向借款人追偿。催款通知方式为电话、传真或者电子邮件；</p>
    <p>④借款人逾期未足额还款和支付滞纳金时间达到10日及以上时，视为借款人恶意违约，本公司有权解除本协议，且有权扣收等同于未还款金额的担保商户盛付通商户号中的线下收单交易资金以及借款人在本公司任一关联公司、合作伙伴的任一账户内的资金，此外借款人还应向本公司支付未偿还资金的1%的惩罚性违约金，担保商户对此承担连带责任。</p>

    <h3>第四条 逾期滞纳金计算方式</h3>
    <p>逾期发生后，本公司按未还款金额计算逾期滞纳金。每逾期一个自然日，本公司按未还款金额的0.1%向借款人计收滞纳金。</p>
    
    <h3>第五条 保密</h3>
    <p>1、甲乙双方对交易信息和保密信息负有同样的保密义务。在本协议的磋商、订立过程中、本协议期内以及本协议终止后的任何和所有时间内，任何一方在事先未经对方书面同意的情况下，不得向任何第三方披露、泄漏任何对方的保密信息。</p>
    <p>2、借款人保证向本公司提供的所有资料是正确、完整、真实、有效的。借款人同意本公司向任何有关方面了解和查询其财产、资信、信用信息等情况，并保留相关资料。本公司有权收集、处理、传递及应用借款人的资料。借款人同意本公司将其资料及信用状况披露给本公司集团成员、服务机构、代理人、外包作业机构、相关资信机构等。借款人同意本公司有权出于为借款人提供综合化或专业化服务的目的视情况向其他任何本公司认为必要的业务合作机构披露借款人资料、保密信息及本协议等。本公司承诺将要求相关合作机构对借款人资料、保密信息及本协议等承担保密义务。</p>
    
    <h3>第六条 违约责任</h3>

    <p>一方违反本协议约定的，守约方发现后应及时通知违约方；违约方应当在接到守约方通知后10个工作日予以改正。违约方没有按时改正，并且双方没有达成其他一致意见的，守约方有权利解除协议，并要求违约方赔偿因此造成的直接损失。</p>
    <h3>第七条 合同的变更与终止</h3>
    <p>1、本协议之变更须经双方同意并采取书面形式确认。在双方未达成一致意见的情况下，原协议继续有效。除本协议有特别规定外，任何一方要求终止本协议，必须提前三十日以书面方式通知另一方。协议的终止并不影响要求赔偿有关损失的权利。</p>
    <p>2、本协议的提前终止不影响双方于本协议提前终止日之前根据本协议已产生的权利和义务。</p>

    <h3>第八条 争议解决</h3>
    <p>除本协议另有规定外，甲乙双方就本协议或本协议之履行而产生的一切争议，均应首先通过友好协商的方式解决。自争议发生之日起十五日内如不能协商解决，任何一方均有权向本公司所在地人民法院提起诉讼。</p>

    <h3>第九条  其他事项</h3>
    <p>1、本协议有效期为一年</p>
    <p>2、本公司保有制定和单方随时修改包括但不限于上述规则的各项规则。所有规则均构成本协议的有效组成部分。新制定和经修改的规则将以Email或其他方式通知。新制定和经修改的规则一经通知则立即生效。</p>



</div>
</body>
</html>