<form id="submitForm" name="submitForm" action="#relativeUrl('/merchantFastsettle/posFastsettleList.htm')" method="post">
<div class="caption">商户提现记录</div>
		<table class="qryTb" cellspacing="0" cellpadding="0" >
		    <tbody>
		    <tr>
		    <td width="90" class="lbl">盛付通商户号：</td>
		    <td width="140"><input type="text" id="merchantNo" name="merchantNo" class="txt w120"></td>
			<td width="80" class="lbl">商户名称：</td>
			<td width="300"><input type="text" id="merchantName" name="merchantName" class="txt w120"></td>
			<td width="80" class="lbl">商户类别：</td>
			<td width="250"><input type="text" id="mcc" name="mcc" class="txt w120"></td>
		</tr>
			    <tr>
			    <td class="lbl" >提现状态：</td>
			    <td width="200">
	            <select id="status" name="status" class="w130">
	                <option value="">全部</option>
	                <option value="0">成功</option>
	                <option value="9">失败</option>
	                <option value="2">处理中</option>
	            </select>
	        </td>
			        <td class="lbl">提现时间：</td>
			        <td colspan="6">
			            <input type="text" id="startCreateTimeStr" name="startCreateTimeStr" class="txt w180 date" onclick="xDatePicker(2);">
			            ~
			            <input type="text" id="endCreateTimeStr" name="endCreateTimeStr" class="txt w180 date" onclick="xDatePicker(2);">
			            <a href="#" class="smBtn" onclick="setTimeStartEnd( -29, elm('startCreateTimeStr'), 0, elm('endCreateTimeStr') );return false;" title="交易时间范围：30天内">30</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -14, elm('startCreateTimeStr'), 0, elm('endCreateTimeStr') );return false;" title="交易时间范围：15天内">15</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -6, elm('startCreateTimeStr'), 0, elm('endCreateTimeStr') );return false;" title="交易时间范围：7天内">7</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -2, elm('startCreateTimeStr'), 0, elm('endCreateTimeStr') );return false;" title="交易时间范围：3天内">3</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -1, elm('startCreateTimeStr'), -1, elm('endCreateTimeStr') );return false;" title="交易时间范围：昨天">昨</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( 0, elm('startCreateTimeStr'), 0, elm('endCreateTimeStr') );return false;" title="交易时间范围：今天">今</a>
			       <span class="red">(范围限90天)</span>
			        <input type="hidden" id="promoterNo" name="promoterNo" value="$!{promoterNo}"/>
			        <input type="hidden" id="pmtType" name="pmtType" value="$!{pmtType}"/>
			        <input type="hidden" id="promoterId" name="promoterId" value="$!{promoterId}"/>
			        </td>
			        <td></td>
			    </tr>
				<tr>
					<td class="lbl" >提现类型：</td>
        	        <td width="200">
        	            <select id="withdrawType" name="withdrawType" class="w130">
        	            	<option value="">全部</option>
        	                <option value="1">快速提现</option>
        	                <option value="2">普通提现</option>
        	            </select>
        	        </td>

					<td class="lbl">提现成功时间：</td>
			        <td colspan="6">
			            <input type="text" id="startWithdrawTimeStr" name="startWithdrawTimeStr" class="txt w180 date" onclick="xDatePicker(2);">
			            ~
			            <input type="text" id="endWithdrawTimeStr" name="endWithdrawTimeStr" class="txt w180 date" onclick="xDatePicker(2);">
			            <a href="#" class="smBtn" onclick="setTimeStartEnd( -29, elm('startWithdrawTimeStr'), 0, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：30天内">30</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -14, elm('startWithdrawTimeStr'), 0, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：15天内">15</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -6, elm('startWithdrawTimeStr'), 0, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：7天内">7</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -2, elm('startWithdrawTimeStr'), 0, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：3天内">3</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( -1, elm('startWithdrawTimeStr'), -1, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：昨天">昨</a>
					<a href="#" class="smBtn" onclick="setTimeStartEnd( 0, elm('startWithdrawTimeStr'), 0, elm('endWithdrawTimeStr') );return false;" title="交易时间范围：今天">今</a>
			       <span class="red">(范围限90天)</span>
			        </td>
			        <td></td>
				</tr>
			    <tr>
			        <td colspan="8" align="center">
			            <a href="#" class="btn2" id="queryBtn" onclick="queryInfo(); return false;">查询</a>
			            <span class="gray" id="querying" style="display: none;">查询中...</span>
			            <a href="#" class="smBtn mgL10" onclick="clearAll();return false;" title="清除所有查询条件">清</a>
						<a href="#" class="btn2" onclick="downloadResult();return false;" title="下载">下载</a>
			        </td>
			    </tr>
			    <tr>
			    <td colspan="8" >
			    <span class="red">注：<br/>
               1、原“交易管理”內仅显示收单手续费，而提现手续费一律显示为0。实际的提现手续费，请以本页面数据为准。<br/>
               2、提现时间与提现成功时间可能存在跨天的情况，请注意查询条件。例如：12月31日发起提现，1月1日提现成功，则可以在“提现时间”为12月31日的记录中查询到，也可以在“提现成功时间”为1月1日的记录中查询到。
                </span>
			    </td>
			    </tr>
			</tbody>
		</table>
		<!--分页容器-->
<div id="container"></div>
        </form>
<script type="text/javascript">
	var ALL_COND_ID = ['pmtType','promoterNo','merchantNo', 'merchantName','mcc','withdrawType','status','startCreateTimeStr', 'endCreateTimeStr','startWithdrawTimeStr', 'endWithdrawTimeStr','promoterId'];
	function clearAll(){
		for(i in ALL_COND_ID){
			if(ALL_COND_ID[i] != 'pmtType' || ALL_COND_ID[i] != 'promoterNo'||ALL_COND_ID[i] != 'promoterId'){
				jQuery("#"+ALL_COND_ID[i]).val("");
			}
    	}
	}
	window.onload=function(){
		setTimeStartEnd(0,elm("startCreateTimeStr"),0,elm("endCreateTimeStr"));
		ajaxPaging();
	};

	function queryInfo(){
		var dateStr1 = jQuery("#startCreateTimeStr").val();
		var dateStr2 = jQuery("#endCreateTimeStr").val();
		var dateStr3 = jQuery("#startWithdrawTimeStr").val();
		var dateStr4 = jQuery("#endWithdrawTimeStr").val();
		if(dateStr1 == null || dateStr1 == ""){
			alert("请录入起始时间");
			return false;
		}
		var dateEnd;
		var dateBegin = new Date(dateStr1.replace(/-/g, "/"));
		if(dateStr2 == null || dateStr2 == ""){
			dateEnd = new Date();
		}
		dateEnd = new Date(dateStr2.replace(/-/g, "/"));

		var dateDiff = dateEnd.getTime() - dateBegin.getTime();
		var dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));
		if(dayDiff > 90){
			 alert("时间大于90天");
			return false;
		}
    		ajaxPaging();
	}

    //ajax翻页
    function ajaxPaging(){
    	loading(!0);
    	var currentPage=jQuery("#currentPage_submitForm").val();
    	currentPage=currentPage?currentPage:1;
    	var data = {"currentPage":currentPage};
    	for(i in ALL_COND_ID){
    		data[ALL_COND_ID[i]] = jQuery("#"+ALL_COND_ID[i]).val();
    	}

    	jQuery.ajax({
			type: 'POST',
		    url: "#relativeUrl('/merchantFastsettle/mcfastsettleList.htm')" ,
		    data: data ,
		    dataType: "html",
		    success: function(data){
		    	jQuery("#container").html(data);
		    	loading(!1);
		    }
		});
    }
  function downloadResult(){
 		jQuery("#submitForm").attr("action","#relativeUrl('/mcfastSettleDownLoad.htm')");
 		jQuery("#submitForm").submit();
     }

</script>