<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<title>银行卡收单T+0结算服务推广协议</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Keywords" content="盛付通-线下收单作业平台" />
		<meta name="Description" content="盛付通-线下收单作业平台" />
		<meta name="renderer" content="webkit"/>
		<style type="text/css" >
			.mid-container{width: 1000px; margin: 30px auto;text-align: center; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
		    .popup{position: absolute; width: 450px; border: 1px solid #d8d8d8; left: 50%; margin-left: -225px; top:50%; background-color: #fff; border-radius: 5px;}
			.popup-title{height: 30px; background-color: #0060b4; margin: 0;}
			.popup-container{padding: 20px 20px 10px;font-size: 13px;}
			.popup-container p{margin:5px 0;}
       </style>
</head>

<body>
<div class="mid-container" style="margin-top: 0px; width:100%; overflow: hidden;line-height: 22px;text-align:left;">
	<div class="popup-container" >
		<h4 class="popup-tlc" style="margin:0;text-align:center;"">上海缘邑信息科技有限公司</h4>
		<h3 class="popup-tlc" style="margin:0;text-align:center;"">银行卡收单T+0结算服务推广协议</h3>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;银行卡收单T+0结算服务推广协议（以下简称“本协议”）是上海缘邑信息科技有限公司（以下简称“本公司”或“缘邑”）与缘邑银行卡收单业务推广商（以下简称“推广商”）就银行卡收单商户T+0结算相关事项在平等友好自愿的情况下订立的有效约定。推广商通过网络页面点击确认或以其他方式选择接受本协议，即表示推广商与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;1、推广商应推广商项下拓展和管理的商户要求，有权向缘邑申请开通针对经营规范，信用度高商户的T+0结算业务。推广商负责对申请开通T+0结算商户的鉴别和审核，保证向缘邑推荐的商户均符合缘邑T+0结算标准。缘邑对推广商推荐的商户进行复核，缘邑审核通后为相应的商户开通T+0结算服务。如推广商推荐的商户不符合缘邑T+0结算标准，缘邑有权关闭商户T+0结算权限，对于情形严重者，缘邑有权终止与推广商关于T+0结算推广的业务合作。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2、推广商同意为申请开通T+0结算的商户提供担保，同意并接受作为保证人遵守《保证金连带保证函》相关内容（详见附件一），如因推广商推荐开通T+0结算商户导致缘邑任何经济损失的，推广商将依据《缘邑T+0结算业务推广规则》（详见附件二）承担无限连带赔偿责任。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;3、推广商同意向缘邑支付保证金，此笔保证金专项用于本协议约定的银行卡收单T+0结算服务，不同于以往推广商向缘邑缴纳的任何保证金，在推广商出现违约的情况下缘邑可以在此笔保证金、分润等推广商项下的资金中直接扣除上述赔偿金。如该笔保证金在协议终止后无任何应扣除的情形，推广商可向缘邑提交退回保证金申请，缘邑将在审核通过后告知退回期限并于此期限届满时将此笔保证金退回推广商。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;4、双方约定T+0结算服务类型、准入标准及赔偿责任、保证金、服务费率及推广商分润比例等按《缘邑T+0结算业务推广规则》（详见附件二）执行。缘邑在法律允许的范围内保留根据商户交易情况及风险控制需要，适时调整上述结算规则（含保证金、费率、分润比例等）的权利。新调整的结算规则以缘邑通知为准。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;5、本协议作为《缘邑SMARTPOS推广合作协议》的补充协议，本协议未约定事项适应《缘邑SMARTPOS推广合作协议》的有关约定。缘邑保有制定和单方随时修改包括但不限于上述规则的各项规则。所有规则均构成本协议的有效组成部分。新制定和经修改的规则将以Email或其他方式通知。新制定和经修改的规则一经通知则立即生效，且对生效前的推广商同样适用。</p>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;附件一：保证金连带保证函</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;保证人及连带保证人就全面履行所有与缘邑合作项下合同义务及责任向缘邑提供连带责任保证。并承诺如下：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;1、保证人及连带保证人同意对《缘邑SMARTPOS收单业务推广合作协议》、《银行卡收单T+0结算服务推广协议》和补充协议（如有）及今后可能发生的修补、补充条款中我司的所有合同义务承担无限连带责任。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2、保证范围：上述协议及补充协议（如有）中全部合同义务及责任。包括但不限于：前述协议及补充协议（如有）约定的欠款、损害赔偿金、实现债权的费用等。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;3、如保证人在履行上述协议及补充协议（如有）过程中造成缘邑经济损失的，保证人同意缘邑可以直接用保证人在缘邑的保证金、分润等资金偿付缘邑损失。上述资金不足以补充缘邑损失的，由保证人及连带保证人承担赔偿责任。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;4、本保证书是不可撤销的，出现下列情况，无论是否征得保证人及连带保证人同意或是否事先通知缘邑，皆不影响本保证书的法律效力及继续履行：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）本保证书所涉及的任何一方中当事人的身份、地位发生任何变化；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）本保证书所涉及的任何一方当事人发生合并、分立、停业、撤销破产或是变更名称、住所、章程、法定代表人、经营范围、企业性质或是其上级单位的任何指令或与任何单位签订任何法律文件等导致的变化。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;5、本保证书自保证人及连带保证人签字之日起生效，且自生效之日起不可撤销。</p>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;附件二：缘邑T+0结算业务推广规则</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;一、服务类型</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;缘邑为符合缘邑经营规范，信用度高的特约商户提供T+0结算服务。T+0结算服务分为两类：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;1、实时结算：交易成功后，交易款项实时到账，适用于优质且经过缘邑审核的特约商户。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2、快速结算：交易款项在交易成功后当日（以下统称 T日）到账，适用于优质之外的且经过缘邑审核的特约商户。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;二、准入标准及赔偿责任</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;1、推广标准：推广商应为缘邑推荐资质合规，从事合法商业活动且具备较为优秀行业条件的特约商户。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;缘邑具有签约准入的最终决定权，缘邑有权拒绝任何特约商户的准入签约申请且无需向特约商户或推广商告知原由，推广商亦不得因此向缘邑进行任何主张或赔偿。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2、赔偿责任：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2-1如果推广商在推广T+0业务的过程中出现以下行为，导致缘邑发生名誉或资金损失，由推广商承担赔偿责任：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（1）在特约商户接入时，未恪守诚实告知原则，隐瞒特约商户实际经营情况，协助特约商户对资质材料进行伪装作假；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（2）向特约商户不实宣传和承诺；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（3）帮助特约商户串户（如把A特约商户的商户号给B特约商户）；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（4）违背监管机构的政策的行为；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（5）在运营服务过程中，故意拖延业务处理的时间；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（6）未经缘邑同意，将无论是否属本协议范围内的特约商户介绍给其他的支付机构；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（7）协助特约商户串费率（如把A特约商户的费率给B特约商户）；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（8）串通特约商户和持卡人进行信用卡套现、交易分单等违法经营行为。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2-2如果推广商推荐的特约商户发生以下行为，由推广商代特约商户向缘邑承担赔偿责任：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（1）特约商户发生伪盗刷卡事件；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（2）特约商户虚假申请；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（3）特约商户失联；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（4）特约商户无法在缘邑指定时间内提供有效调单凭证；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（5）特约商户将SMARTPOS机具用于非法经营活动。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2-3 除上述责任外，其余由双方共同沟通确定责任方。若无法确定责任方，当发生资金损失时，则双方根据如下约定比例进行赔偿：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（1）	若推广商分润比例为30%：推广商赔付50%，缘邑赔付50%；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（2）	若推广商分润比例为40%：推广商赔付60%，缘邑赔付40%；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（3）	若推广商分润比例为100%：推广商赔付100%。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;三、保证金、费率、分润</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;1、T+0结算业务推广保证金：推广商推广T+0结算业务前，需交纳T+0结算业务推广保证金，最低10万元起。如该笔保证金在本协议终止后无任何应扣除的情形，推广商可向缘邑提交退回保证金申请，缘邑将在审核通过后告知退回期限并于此期限届满时将此笔保证金退回推广商。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2、费率：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（1）T+0结算服务向商户收取的费率定价为：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;工作日费率范围：交易金额的0.2%-0.3%</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;节假日：在工作日费率范围的基础之上上浮交易金额的0.05%。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（2）推广商在推广T+0结算业务时必须明确告知特约商户并让其充分了解T+0结算业务的收费方、费率、到账时间等等关键信息，如推广商未尽此告知义务导致任何的争议、投诉或纠纷，由推广商负责解决，如因此导致缘邑发生名誉、资金损失或监管机构的处罚等等，由推广商承担全额赔偿责任。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;3、分润：根据推广商特约商户使用的T+0结算业务的类型每日计算，每月结算，分润规则如下。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（1）实时结算：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;推广商分润比例：（向特约商户收取的手续费总额减去渠道服务费）的30%-40%</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;若推广商推荐的特约商户当天交易金额小于30万元，推广商分润比例为30%，缘邑分润比例为70%；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;若推广商推荐的特约商户当天交易金额大于或等于30万元，推广商分润比例为40%，缘邑分润比例为60%。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;渠道服务费为交易金额的0.02%，节假日在此基础之上上浮0.005%</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（2）快速结算：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;推广商分润比例：（向特约商户收取的手续费总额减去渠道服务费）的100%。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;渠道服务费为交易金额的0.02%，节假日在此基础之上上浮0.005%</p>
	</div>
</div>
</body>
</html>
