<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>补充协议</title>
	<style>
	*{margin: 0;padding: 0;list-style: none;}
	.content{width: 1000px;margin: 0 auto;font-size: 14px;color: #585858;padding: 20px 0;}
	.content p{line-height: 32px;}
  p span{color: #f00;}
	h2{font-size: 24px;text-align:center;}
	span{color: #00f;}
	body,td,th {
	color: #F00;
}
    </style>
</head>
<body>
	<div class="content">
		<h2 align="center"><strong>天天贷业务推广合作协议</strong></h2>
<h2>&nbsp;</h2>
		<p align="right"><strong>合同编号：  [               ]</strong></p>
<p style="text-align:center">&nbsp;</p>
<p align="left">本天天贷业务推广合作协议（以下简称&ldquo;本协议&rdquo;）由以下双方于[     ]年[  ]月[  ]日在上海浦东新区签署： </p>
<p align="left"><strong>甲方：</strong><strong>上海盛畅网络科技有限公司</strong><strong> </strong></p>
<p align="left">地址：上海市浦东新区张衡路666弄1号（A栋）9楼 </p>
<p align="left">电话：021-20575188</p>
<p><br>
  <strong>乙方</strong>：<br>
  地址：<br>
  电话：<br></p>
<p align="left">甲方和乙方在下文中可单独称为&ldquo;一方&rdquo;或合称为&ldquo;双方&rdquo;。 </p>
<p align="left">为充分发挥双方各自的优势，经友好协商，并依据中华人民共和国有关法律法规的要求，就双方在商定的区域内针对甲方天天贷业务的推广合作事宜达成一致，并签订协议如下： </p>
<p>&nbsp;</p>
      <p align="center"><strong>第一条 名词和定义 </strong></p>
      <p align="center">&nbsp;</p>
      <ol>
        <p>1.1 借款方：是指乙方拓展并与甲方签署《盛畅金融服务合作协议》的企业实际经营人或法定代表人。 </p>
      </ol>
      <p>1.2 天天贷业务：指甲方通过合作商向借款方发放的用于借款方购买指定服务的贷款(以下简称“贷款”)。</p>
      <ol>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </ol>
      <p align="center"><strong>第二条 合作项目和范围 </strong></p>
      <p align="left">2.1 乙方协助甲方在<u>                </u>（市）拓展借款方，协助推广，乙方不得跨区域开发，如因业务需要涉及在本协议授权区域以外的区域开展推广合作的，乙方应提前五个工作日以书面形式向甲方提出申请，经甲方同意后就前述区域内的推广授权方可生效。未经甲方同意乙方擅自于本协议授权区域外进行推广合作的，甲方有权随时终止本协议。 </p>
      <p align="left">2.2 定价标准： </p>
      <p align="left">以甲方公告为准，甲方有权就该表依据具体业务情况进行调整，前述调整经提前3个工作日以双方专用系统平台、电子邮件或传真等形式通知乙方即生效。 </p>
      <p align="left">2.3协议有效期内，甲方新增、升级、改版的产品许可乙方在授权范围内进行推广。 </p>
      <p align="left">2.4乙方不得从事以下业务： </p>
      <p align="left"> A、向其他机构转让、转包业务； </p>
      <p align="left">B、自行伪造借款人身份或联合借款人骗取甲方借款资金； </p>
      <p align="left">C、私自下挂二级代理商；； </p>
      <p align="left">D、乙方不得未经甲方认可擅自代理甲方就天天贷业务向借款人做出任何承诺、保证 </p>
      <p align="left">乙方违反上述约定及其他甲方不定时在网上或电子邮件、传真形式公告的业务规则的，甲方有权随时单方终止本协议并追究乙方的违约责任。 </p>
      <p align="center"><strong>第三条 推广服务费 </strong></p>
      <ol>
        <ol>
          <li></li>
        </ol>
      </ol>
      <p>1.3 推广服务费的计算方法 </p>
      <p align="left">推广服务费率的计算方法具体见双方于附件二《天天贷业务推广商申请表》中的约定。甲方有权就推广服务费计算办法依据具体业务情况进行调整，前述调整经提前3个工作日以双方专用系统平台、电子邮件或传真等形式通知乙方即生效。 </p>
      <ol>
        <ol>
          <li></li>
        </ol>
      </ol>
      <p>1.4 如甲方为双方的天天贷业务推广合作进行了相关市场投入的，本协议下推广服务费还应扣除甲方相关的市场费用。推广服务费付款 </p>
      <p align="left">甲方于每个月的前10个工作日内，通过系统平台、电子邮件或书面形式向乙方提供载有推广服务费明细及罚金（如有）报表的对账单。<span>乙方应在收到前述对账单之日起5个工作日内将符合要求的发票开具并邮寄至甲方</span>。甲方应于收到<span>该发票</span>之日起30个工作日内将相应款项支付至乙方于附件二中载明的盛付通钱包账户内。 </p>
<p>&nbsp;</p>
      <p align="center"><strong>第四条 甲方的权利与义务 </strong></p>
<p>&nbsp;</p>
      <p>5.1甲方有权就天天贷业务制定针对借款方的相关产品及服务的标准及价格，并经提前通知乙方，有权随时调整前述产品及服务的标准及价格。 </p>
      <p>5.2甲方有权完全依据自己的判断决定是否向借款方提供贷款，乙方不得干涉。甲方有权在其认为必要时，要求乙方补充贷款申请相关信息和资料。 </p>
      <p>5.3甲方应向乙方提供必要的产品及服务的信息资料用于开展天天贷业务开展推广宣传活动。若乙方自行制作相关宣传推广材料的，应提前经甲方审核同意方可使用。 </p>
      <p>5.4甲方向乙方提供标准的《盛畅金融服务合作协议》（包括其不时更新的后续版本），乙方应协助商户与甲方完成签约。 </p>
      <p>5.5乙方应保证其于本协议附件二中的企业信息及联系方式准确有效，并在该等信息发生变更时及时通知甲方，否则，因该等信息有误导致甲方或乙方损失的，乙方应自行承担一切损失。 </p>
      <p align="center"><strong>第六条 乙方的权利和义务 </strong></p>
<p>&nbsp;</p>
      <ol>
    <li></li>
        <li>
          <p>6.1乙方不得未经甲方认可擅自代理甲方就贷款事宜向借款方做出任何承诺、保证。 </p>
        </li>
      </ol>
      <p>6.2乙方负责填写借款方的借款信息，并保证信息准确无误。在审批过程中遇到虚假协信息的情况，甲方有权拒绝借款人的贷款申请，乙方不得干涉。 </p>
      <p>6.3乙方不得将甲方业务向第三方公司或个人进行出让、转让或转授权，未经甲方以书面形式授权不得以发展二级推广商的形式开展本协议下推广业务或合作。 </p>
      <p>6.4乙方在遵守本协议及相关管理条例的基础上，有权从甲方处获得本协议下推广服务费。 </p>
      <p>6.5乙方应当具备金融行业基本知识、风险意识和职业道德，必须具有健全的组织架构、内控制度和业务管理、风险控制措施，有熟悉支付相关业务的专业人员担任董事、高级管理职务，遵守贷款业务相关的各项法律规定和业务规则。</p>
      <p>6.6乙方作为甲方的推广合作单位，应积极维护甲方及其产品与服务的声誉、形象，不得损害甲方合法权益。否则甲方有权单方面解除本协议，乙方承担由此给甲方造成的损失。 </p>
<p>6.7乙方应当依照甲方的要求向甲方推荐客户，并协助商户向甲方提交相关资料，保证商户是合法存续且从事合法商业活动的经营主体。乙方应当安排专人核实其推荐商户，乙方保证其拓展商户所收取资料的真实性，并做到上门亲核、亲访、亲签，如未按要求执行并给甲方带来的经济损失，由乙方承担赔偿责任。 </p>
<p>6.8乙方不得串通借款方进行贷款诈骗等违法经营行为。如因出现上述违法、违规等现象，导致双方合作受到影响，或对甲方造成损失，乙方应进行赔偿。 </p>
<p><strong>6.9乙方同意在借款人未正常归还甲方贷款时，协助甲方联系并催缴借款人归</strong></p>
<p>6.10为加强双方合作关系，乙方同意向甲方支付人民币    元整（大写金额：   ）作为保证金，借款方逾期超过  90  日（含法定节假日）没有还款的，乙方应偿还借款方的全部贷款和费用（包括但不限于借款人的全部贷款余额的本金、利息、账户管理费、逾期罚息、逾期滞纳费等）。同时，甲方有权在乙方缴纳的保证金中扣除借款方应偿还的欠款，保证金不足的，甲方有权向乙方进行追索，乙方对借款方在贷款合同下的全部债务承担连带偿还责任，甲方有权在借款方逾期还款 90  日后的两年内要求乙方偿还上述借款方在贷款合同下的全部债务。 </p>
<p>&nbsp;</p>
      <p align="center"><strong>第七条 保密条款及知识产权 </strong></p>
      <p>7.1遵照知识产权的有关规定，乙方对甲方所研发的系统的技术信息保密，在未经甲方书面许可的情况下，在本协议存续期间和其后的任何时候，乙方不得将甲方相应的任何程序代码、文档资料等与甲方技术相关的内容泄露给第三方；在未经对方书面许可的情况下，在本协议存续期间和其后的任何时候，双方均不得将协议内容泄露给第三方。 </p>
      <p>7.2未经对方书面许可，双方不得以任何方式、在任何场所使用双方或对方合作方以及银联／银行Logo、名称、商标。 </p>
      <p>7.3未经甲方书面许可，乙方不得擅自保有或将商户名单、甲方使用情况等相关信息泄露给第三方。 </p>
      <p>7.4双方互相保证在本协议履行期间，不将本协议以及任何对方提供的资料以及在履行协议过程中从对方处了解到的任何商业秘密、或者标有&ldquo;保密&rdquo;、&ldquo;所有&rdquo;字样的资料，以任何方式披露给任何第三方。 </p>
      <p>7.5任何一方如有违反保密规定的违约行为，由违约方承担由此造成的一切损失；保密条款不因本协议的解除、变更、终止而失效。 </p>
      <p align="center"><strong>第八条 合作协议变更、延续和终止 </strong></p>
      <p>8.1本协议经甲乙双方一致同意可以变更，但任何变更请求应提前一个月以书面形式提出并征得对方书面同意后方可生效。 </p>
      <p>8.2协议任何一方需要终止本合作协议，应提前一个月以书面形式提出。如乙方单方面提出终止协议，乙方提前一个月需就其拓展的借款方服务问题与甲方协商一致。 </p>
      <p>8.3双方如在本协议之前已经签有协议，并与本协议内容有冲突的地方，当以本协议为准。 </p>
      <p align="center"><strong>第九条 不可抗力、违约责任及争议解决 </strong></p>
      <p>9.1由于战争、地震、火灾、国家政策性调整、法律法规颁布与修订等不能预见且对其发生及后果不能预防和避免的原因导致本协议不能及时履行或完全履行时，遇有上述事故的一方应在10个工作日内书面通知对方，经确认属实的，应当根据情况部分或全部免除承担违约责任。 </p>
      <p>9.2一方违反本协议约定的，另一方发现后应及时通知违约方；违约方需在收到通知后10个工作日内予以改正。违约方未能及时改正，并且双方未能达成其他一致意见的，守约方有权解除协议，并要求违约方赔偿因此造成的直接损失。 </p>
      <p>9.3对于非甲乙双方过错导致的共同损失，双方应按照公平原则分担，并互相协助或共同向有过错的第三方追索赔偿。</p>
      <p>9.4。由于下列原因导致借款方拒绝偿还甲方贷款时，甲方有权向乙方追索欠款，由此造成的甲方损失、发生的费用以及原交易损失均由乙方承担。本条约定在本协议终止后持续有效。 </p>
      <p>1）乙方或乙方人员有任何直接或间接参与贷款欺诈的； </p>
      <p>2）借款方逾期还款90天后，乙方仍无法协助甲方联系上借款方； </p>
      <p>9.5本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律。如甲乙双方在合作协议执行过程中发生任何争议，双方应先行友好协商解决。协商不成，任何一方均可向甲方所在地人民法院提起诉讼。 </p>
      <p align="center"><strong>第十条 协议生效及其它 </strong></p>
      <p>10.1本协议自甲、乙双方加盖公章后生效，协议有效期至     年    月    日止。 </p>
      <p>10.2本协议未尽事宜，由双方另行协商并以补充协议的形式明确，补充协议与本协议具有同等的法律效力。</p>
      <p>10.3 本合同附件1份： </p>
      <p>附件一《天天贷业务推广商申请表》 </p>
      <p>10.4本协议文本一式贰份，甲乙双方各执壹份。具有同等法律效力。 </p>
      <p>甲方（盖章）：<strong>上海盛畅网络科技有限公司</strong>   </p>
      <p>&nbsp;</p>
      <p>乙方（盖章）： </p>
      <p>&nbsp;</p>
      <p><strong>附件一： </strong></p>
      <p>&nbsp;</p>
      <p align="center"><strong>不可撤销担保书 </strong></p>
            <p>致受益人：<strong>上海盛畅网络科技有限公司</strong></p>
            <p> 鉴于贵司同意向<u>                         </u>公司（以下简称债务人）提供资金总计为人民币（大写<u>        </u>万元整，小写<u>        </u>万元整），并于    年   月  日签定了编号：<u>     </u>金融服务合同）。</p>
            <p>经债务人请求，本保证人同意出具本担保书，自愿为债务人在主合同项下的全部债务承担连带保证责任，具体担保事项如下：</p>
            <p><strong>第一条</strong> 担保方式 </p>
            <ol>
              <li>
                <p align="left">1.1在主合同项下债务履行届满时，贵司向债务人提供而未获偿还的资金款项由本保证人在本担保书第2条所确定的保证范围内承担连带清偿责任；在主合同规定的清偿履行期满前，如贵司根据主合同约定提前向债务人追索，本保证人亦在本担保书第2条所确定的保证范围内承担连带保证责任。 </p>
                <p align="left">1.2贵司和债务人之间就主合同项下的债务履行金额、期限等达成变更有关条款，或贵司在主合同项下债务履行期内根据主合同规定调整利率的，无需征得本保证人的同意或通知本保证人，且本保证人均予以认可，不影响本保证人依据本担保书承担的担保责任。</p>
                <p align="left"></p>
              </li>
              <li></li>
            </ol>
            <p><strong>第二条</strong> 保证范围 </p>
            <ol>
              <li> </li>
              <li></li>
            </ol>
            <p align="left">本保证人保证担保的范围为主合同项下的债务人的全部债务，包括但不限于贵司根据主合同向债务人提供的资金款项、违约金及贵司实现债权所花费的律师费、差旅费、诉讼费及其他一切有关部门费用。 </p>
            <p><strong>第三条</strong> 保证方式</p>
            <p align="left">本保证人确认对上述保证范围内的全部债务承担经济上、法律上的连带保证责任。如债务人未按主合同及时偿还资金款项、违约金及及相关费用，或债务人发生主合同规定的任何一项违约事件，贵司有权直接向本保证人追索，而无须贵司先行向债务人进行追索。即使有债务人或第三人为债务人在主合同项下的债务提供保证或物的担保，贵司仍有权选择先行向本保证人进行追索。即使在同时有抵/质押担保或其他保证人的情况下贵司放弃、变更或解除抵、质押担保或变更、解除其他保证人保证责任，本保证人依然按本保证书的内容对贵司承担保证责任。 </p>
            <p align="left">贵司发出的索偿通知书是终结性的，本保证人对此无异议。对于债务人拖欠贵司的款项，本保证人同意在收到贵司书面索偿通知之日起五日内如数予以偿还，无须贵司出具任何证明。除非发生明显及重大错误，本公司接受贵司索偿通知书要求的款项金额为准确数据。 </p>
            <p align="left">贵司有权采取认为适当的方式，包括但不限于传真、邮寄、专人送达、在公众媒体上公告等方式对本担保人进行催收。 </p>
            <p><strong>第四条</strong> 保证责任期 </p>
            <p align="left">本保证人的保证责任期限为自主合同生效之日起至主合同项下全部债务履行期限满之日起另加两年。 </p>
            <p><strong>第五条</strong> 本担保书的独立性 </p>
            <p>本担保书是独立、持续有效、不可撤销和无条件的，不受主合同效力的影响，不受债务人与任何单位签订的任何协议、文件的影响，也不因债务人欺诈、重组、停业、解散、清算、破产等各种变化而发生的任何改变。本保证人的保证责任也不因受到任何指令、自身财务状况的改变、与任何单位或个人签订的任何协议而免除。</p>
            <p><strong>第六条</strong> 本保证人特别承诺如下：</p>
            <p align="left">6.1本保证人是依法成立的，具有保证人资格的法人，或具有保证人资格的其他组织，愿意用本保证人所有或依法有权处分的资产作担保，保证履行本担保书规定的义务； </p>
            <p align="left">6.2本保证人出具本担保书已获得充分授权或经上级部门/董事会等有权机构批准； </p>
            <p align="left">6.3出具本担保书是本保证人的真实意思表示，不存在任何欺诈或胁迫的因素； </p>
            <p align="left">6.5本保证人向贵司提供的所有文件，均是真实合法的，本保证人上级部门人对此负有不可推卸的法律责任； </p>
            <p align="left">6.6本保证人的经营方式或财务状况发生任何变化或发生债务重组、重大关联交易等事项，均不影响本担保书对本保证人的法律约束力，如发生上述变化可能影响本保证人履行本担保书的能力时，本保证人有义务立即通知贵司； </p>
            <p align="left">6.7本保证人的继承人或受让人均受本担保书全部条款的约束。非经贵司书面同意，本保证人不会转让上述保证义务。 </p>
            <p align="left">6.8本保证人未按本担保书规定清偿所担保的债务，贵司有权从本保证人在贵司开立的帐户或委托其他金融机构从本保证人在本保证人在该机构开立的帐户中扣款，直至付清主合同项下债务人拖欠贵司的所有债务为止。 </p>
            <p><strong>第七条</strong> 不视为弃权</p>
            <p>在本担保书有效期间，贵司对债务人和本保证人的任何违约或延误行为施以任何宽容、宽限或延缓执行主合同和本担保书内贵司应享有的权益或权利，均不能损害、影响或限制贵司依有关法律规定和本担保书作为债权人应享有的一切权益和权利，也不能视为贵司放弃对现有或将来违约行为采取行动的权利。</p>
            <p><strong>第八条</strong> 术语</p>
            <p align="left">本合同所使用术语，除另有明确说明外，均具有与主合同规定相同的含义。 </p>
            <p><strong>第九条</strong> 通知</p>
            <p>贵司与本保证人之间关于本担保书的通知、要求等应以书面形式发送。由专人递送的，收件方签收视为送达（收件方拒收的，于拒收日视为送达）；以邮政信函方式递交的，寄出后满7日视为送达；以传真方式递交的，收件方传真系统接收传真后视为送达。贵司可以在公众媒体上公告的方式向本保证人催收的，自公告之日视为送达。</p>
            <p>本保证人变更联系地址，应当及时通知贵司，否则贵司按原联系地址所作的送达依然有效并对本保证人有约束力，本保证人自行承担因此可能产生的损失。</p>
            <p><strong>第十条</strong> 争议及纠纷解决方式 </p>
            <p align="left">本担保书适用中华人民共和国法律，因本担保书所产生的争议，本保证人同意采取主合同所约定的纠纷解决方式。 </p>
            <p align="left">如主合同和本担保书一并办理了赋予强制执行效力的公证，则本保证人同意贵司有权就本保证人在本担保书项下所负债务直接申请有管辖权法院强制执行。 </p>
            <p><strong>第十一条</strong> 本担保书生效 </p>
            <p align="left">11.1本担保人为法人或其他组织时，本担保书于本保证人法定代表人/主要负责人或授权代理人签字/盖名章并加盖本保证人公章之日起生效。 </p>
            <p align="left">11.2本保证人为自然人时，本担保书于本保证人签字之日起生效。 </p>
            <p><strong>第十二条</strong> 附则 </p>
            <p align="left">本合同一式三份，贷款人、债务人、本保证人及被保证人各执一份，具同等法律效力。 </p>
            <p align="left">保证人为法人或其他组织时签署此栏： </p>
            <p align="left">保证人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （公章）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p align="left">法定代表人/主要债务人或授权代理人： </p>
            <p align="left">开户行及帐号： </p>
            <p align="left">            年&nbsp;&nbsp;  月&nbsp;&nbsp;日</p>
            <p align="left">&nbsp;</p>
</div>
</body>
</html>