<footer class="footer layout">
<dl class="footer-info">
<dt>全国24小时客服热线:400-720-5588 未开通95地区或海外用户请拨打+86-21-68654554</dt>
</dl>
<p class="footer-license">沪ICP备08024653号-4<span>|</span>网络文化经营许可证：沪网文[2013]0254-021号</p>
<p class="footer-copyright">上海益充电子商务有限公司&nbsp;版权所有</p>
<p class="footer-safety"><a href="http://sh.cyberpolice.cn/" target="_blank" title="上海网络警察报警平台" class="footer-police"></a><a href="http://nianjian.sgs.gov.cn/keylicense/verifKey.jsp?serial=100020002006072511100002329055&amp;signData=D0320e5UZ4eLNq5nOWU4WnN7AIRVnDcV7VhxW09fCXkcp7kDSWwHpkDnzbJAI0JBUTUKt0dWbrzUPFE1ypuaiPVu6/KdCtRBXb1Z5WdrvgJp8t0Fi64Ine4UIvyM5G4/8OkMIbm7R5Nb121alYxW2poxwAxrX/jmKpzrEJkg2DE=" target="_blank" title="电子营业执照" class="footer-permit"></a><a href="http://www.shjbzx.cn/" target="_blank" title="上海市互联网违法与违规信息举报中心" class="footer-jubao"></a></p>
</footer>
