#set($formName = 'submitForm')
#set ($functionName="ajaxPaging()")
#parse("/control/page_ajax.vm")
<table class="listTb" cellspacing="0" cellpadding="0" id="Gv_MainList">
	<tr class="ttl">
		<td width="30">id</td>
		<td width="60">政策类型</td>
		<td width="60">政策编号</td>
		<td width="60">政策名称</td>
		<td width="80">开通方式</td>
		<td width="80">快速结算状态</td>
		<td width="60">是否自动</td>
		<td width="80">是否需要信用认证</td>
		##<td width="80">额度类型</td>
		<td width="80">快速结算额度</td>
		<td width="80">工作日费率</td>
		<td width="80">节假日费率</td>
		<td width="80">提现费用</td>
		<td width="80">扫码提现费用</td>
		<td width="60">状态</td>
		<td width="50">操作</td>
	</tr>
	#foreach($o in $!{result}) 
	<tr>
		<td>$!{o.id}</td>
		<td>#if("$!{o.policyType}"=="2") MCC类
			#elseif("$!{o.policyType}"=="3") 云收银类
			#else 政策类
			#end</td>
		<td>$!{o.policyId}</td>
		<td>
			$!{o.policyName}
		</td>
		<td>#if("$!{o.promoterModifyFlag}"=="1") 代理商开通
			#else 系统开通
			#end
		</td>
		<td>#if("$!{o.fastSettleFlag}"=="1") 开通
			#else 关闭
			#end
		</td>
		<td>#if("$!{o.autoFastSettleFlag}"=="1") 自动
			#else 手动
			#end
		</td>
		<td>#if("$!{o.dependCreditAuthFlag}"=="1") 需要
			#else 不需要
			#end
		</td>
		##<td>#if("$!{o.quotaType}"=="1") 临时
		##    #else 永久
		##    #end
		##</td>
		<td>$!{o.fastSettleLimit}</td>
		<td>$!{o.workdayRatio}</td>
		<td>$!{o.holidayRatio}</td>
		<td>$!{o.withdrawCost}</td>
		<td>$!{o.oaTxnWithdrawCost}</td>
		<td>#if("$!{o.status}"=="1") 生效
			#else 失效
			#end</td>
		<td>
			<a  class="smBtn" href="#springUrl('/policyconfig/initEdit.do')?po.id=$!{o.id}" target="_blank" title="修改">修</a>
		</td>
	</tr>
	#end
</table>
