#set($page_title = '文件上传')
<div class="TableForm">
	<h2 class="Mtit">$page_title</h2>
	<div class="AreaTb">
		<form id="uploadForm" name="uploadForm" method="post" enctype='multipart/form-data' action="#springUrl('/file/upload.htm')">
		<table width="80%" border="0" align="center" cellpadding="0" cellspacing="5">
			#message($errorMsg 2)
			<tr>
				<td>访问根目录</td>
        		<td>$!{accessRootURL}</td>
			</tr>
			<tr>
				<td>文件访问地址</td>
        		<td>$!{picURL}</td>
			</tr>
			<tr>
        		<td><input type="file" size="40" filefilter="jpeg|jpg|gif|png" id="fileName" name="fileName"/></td>
        		<td><input class="bluebtn" type="submit" value="上传" /><span class="_tip"></span><p>请上传JPG、JPEG或者GIF文件</p></td>
			</tr>
        </table>
        </form>
    </div>
</div>
