#set($page_title = '商户查询 ')
#set($formName = 'submitForm')
<div class="TableForm">
	<h2 class="Mtit">$page_title</h2>
	<div class="AreaTb">
		<form id="submitForm" name="submitForm" method="post" action="#springUrl('/ajaxPaging/queryDebitApplyMerchants.do')">
		<table class="qryTb" cellspacing="0" cellpadding="0">
		    <tr>
		        <td class="lbl">商户号：</td>
		        <td width="200">
		        	<input type="text" id="merchantNo" name="merchantNo" value="$!{query.merchantNo}" class="txt130">
		        </td>
		    	<td class="lbl">商户名称：</td>
		        <td width="200">
        			<input type="text" id="merchantName" name="merchantName" value="$!{query.merchantName}" class="txt130">
		        </td>
		    </tr>
		    <tr>
		    	<td class="lbl">代理商商户号：</td>
		        <td width="200">
        			<input type="text" id="promoterNo" name="promoterNo" value="$!{query.promoterNo}" class="txt130">
		        </td>
		        <td class="lbl">代理商名称：</td>
		        <td width="200">
		        	<input type="text" id="promoterName" name="promoterName" value="$!{query.promoterName}" class="txt130">
		        </td>
		    </tr>
		    <tr>
		   		<td class="lbl">在线申请时间：</td>
		        <td colspan="7">
		            <input type="text" id="startTimeStr" name="startTimeStr" class="date txt130" onclick="xDatePicker(1);"/>
		            ~
		            <input type="text" id="endTimeStr" name="endTimeStr" class="date txt130" onclick="xDatePicker(1);"/>
		            <a href="#" class="smBtn" onclick="setDateStartEndRang( -29, 'startTimeStr', 0, 'endTimeStr');return false;" title="贷款申请时间范围：30天内">30</a>
					<a href="#" class="smBtn" onclick="setDateStartEndRang( -14, 'startTimeStr', 0, 'endTimeStr');return false;" title="贷款申请时间范围：15天内">15</a>
					<a href="#" class="smBtn" onclick="setDateStartEndRang( -6, 'startTimeStr', 0, 'endTimeStr');return false;" title="贷款申请时间范围：7天内">7</a>
					<a href="#" class="smBtn" onclick="setDateStartEndRang( -2, 'startTimeStr', 0, 'endTimeStr');return false;" title="贷款申请时间范围：3天内">3</a>
					<a href="#" class="smBtn" onclick="setDateStartEndRang( -1, 'startTimeStr', -1, 'endTimeStr');return false;" title="贷款申请时间范围：昨天">昨</a>
					<a href="#" class="smBtn" onclick="setDateStartEndRang( 0, 'startTimeStr', 0, 'endTimeStr');return false;" title="贷款申请时间范围：今天">今</a>
		        </td>
		    </tr>
		    <tr>
		        <td colspan="6" align="center">
		            <a href="#" class="btn2" id="queryBtn" onclick="ajaxPaging()">查询</a>
		        </td>
		    </tr>
		</table>
        </form>
    </div>
</div>
<div class="TableForm">
	<h2 class="Mtit">查询结果</h2>
	<div id="container" class="RealTb">
    </div>
</div>

<script type="text/javascript">
	window.onload=function(){
		//setTimeStartEnd(-29,elm("startTimeStr"),0,elm("endTimeStr"));带时分秒
		setDateStartEndRang(-30,"startTimeStr",0,"endTimeStr");
	};	
    function ajaxPaging(){
    	var _ids = ['merchantNo','merchantName','promoterNo','promoterName','startTimeStr','endTimeStr'];
    	var currentPage=jQuery("#currentPage_submitForm").val();
    	currentPage=currentPage?currentPage:1;
    	var data = {"currentPage":currentPage};
    	for(i in _ids){
			var val = document.getElementById(_ids[i]).value;
			if(val!=""){
    			data[_ids[i]] = val;
    		}
    	}
    	data['timestamp'] = new Date().getTime();
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/debitAudit/ajaxPaging/queryDebitApplyMerchants.do')" ,
		    data: data ,
		    dataType: "html",
		    success: function(data){
		    	jQuery("#container").html(data);
		    }
		});
    }
    /**
    *@param creditLineId 额度申请表id
    *@param flag true:审核通过,false:打回让商户修改资料
    **/
    function preAudit(creditLineId,flag){
    	if(flag){
    		if(!confirm("确定提交风控进行信用评级吗？")){
    			return;
    		}
    	}else{
    		var failReason = window.prompt("请输入打回原因");
    		while(failReason.replace(/(^\s*)|(\s*$)/g,'') == ""){
			  failReason = window.prompt("请输入打回原因");
    		}
    		/**if(!confirm("确定让商户重新修改资料吗？")){
    		*	return;
    		}**/
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/debitAudit/preAudit.do')" ,
		    data: {creditLineId:creditLineId,flag:flag,failReason:failReason} ,
		    dataType: "json",
		    success: function(data){
		    	if(data){
			    	alert(data.errorMessage);
		    	}else{
		    		alert(data);
		    	}
		    	ajaxPaging();
		    }
		});
    }
    //开通借款
    function openAccount(creditLineId){
    	if(!confirm("确定给该商户开通借款功能？")){
			return;
		}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/debitAudit/openAccount.do')" ,
		    data: {creditLineId:creditLineId} ,
		    dataType: "json",
		    success: function(data){
		    	if(data){
			    	alert(data.errorMessage);
		    	}else{
		    		alert(data);
		    	}
		    	ajaxPaging();
		    }
		});
    }
</script>