<LINK href="#springUrl('/htdocs/msp/css/base.css')" type="text/css" rel="stylesheet">
<script src="#springUrl('/htdocs/scripts/jquery-1.4.2.min.js')" type="text/javascript"></script>
#set( $flag = ("$!{promoter.fastSettleFlag}"=="0"))
<div class="caption">拓展方管理</div>
<table class="dtlTb" cellspacing="1" cellpadding="0">
	<tr>
		<td class="lbl">快速结算保证金：</td>
		<td width="480">$!{fastSettleMargin}元 #if("$!{amount}"=="0")#else<font color="#ff0000">(追加待审核保证金金额：$!{amount}元) </font> #end</td>
	</tr>
	<tr>
		<td class="lbl">垫资方：</td>
		<td width="480">
			<input type="radio" name="loaningType" #if("$!{promoter.loaningType}"=="1")checked#end value="1" onclick="fastSettleLimitChange(this)" >盛付通全资
			&nbsp;
			<input type="radio" name="loaningType" #if("$!{promoter.loaningType}"=="0")checked#end value="0" onclick="fastSettleLimitChange(this)" >代理商全资
		</td>
    </tr>
	<tr>
		<td class="lbl">当前工作日额度：</td>
		<td width="480">$!{fastSettleLimit}元</td>
    </tr>
	<tr>
		<td class="lbl">工作日额度调整为：</td>
		<td width="480"><input id="fastSettleLimit" name="fastSettleLimit" #if("$!{promoter.loaningType}"=="0")disabled#end 
		value="#if("$!{promoter.loaningType}"=="0")$!{fastSettleMargin}#else$!{fastSettleLimit}#end"/>元</td>
    </tr>
	<tr>
		<td class="lbl">特殊保底保证金：</td>
		<td width="480">
		<input type="checkbox" id="promoterMinMarginFlag" name="promoterMinMarginFlag" #if(${promoterMinMargin})checked#end value="1" onclick="promoterMinMarginFlagChange(this)" >
		<span id="promoterMinMargin_span" style="#if(${promoterMinMargin}) #else display:none;#end" >
		<input id="promoterMinMargin" name="promoterMinMargin"  
		value="$!{promoterMinMargin}"/>元</span>
		</td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <a href="#" class="btn2" id="saveBtn" onclick="applyOnlineInitEdit('$!{mcId}')">保存</a>
            <a href="#" class="btn2" id="closeBtn" onclick="window.close();">关闭</a>
        </td>
    </tr>
</table>

	#if($!dataList)
	<h2 class="caption">修改历史</h2>
	<div>
		<table class="dtlTb" cellspacing="1" cellpadding="0">
		<tr class="ttl">
	    <td class="lbl" style="text-align: center;">序号</td>
		<td class="lbl" align="center">修改时间</td>
		<td class="lbl" align="center">快速结算信息</td>
		<td class="lbl" align="center">额度</td>
		<td class="lbl" align="center">特殊保证金</td>
		<td class="lbl" align="center">操作人</td>
	</tr>
		#foreach($!temp in $!dataList)
		<tr>
		    <td width="30">$!{velocityCount}</td>
			<td width="150" align="center">#showDateTime($!temp.updateTime)</td>
			<td width="150" align="center">#if($!temp.opType==1&&$!temp.fastSettleFlag==1) 开通#elseif($!temp.opType==2&&$!temp.fastSettleFlag==0)关闭 #elseif($!temp.loaningType==0) 代理商垫资#elseif($!temp.loaningType==1) 盛付通垫资#end</td>
			<td width="150" align="center">#if($!temp.fastSettleLimit)$!temp.fastSettleLimit元#end</td>
			<td width="150" align="center">#if($!temp.promoterMinMargin)$!temp.promoterMinMargin元#end</td>
			<td width="150" align="center">$!temp.operator</td>
		</tr>
		#end
    </div>
	#end

<script type="text/javascript">
	var fastSettleMargin=$!{fastSettleMargin};

    function applyOnlineInitEdit(mcId){
		var fastSettleLimit=jQuery("#fastSettleLimit").val();
		var promoterMinMargin=jQuery("#promoterMinMargin").val();
		var loaningType=jQuery("input[name='loaningType']:checked").val();
		if(!jQuery("#promoterMinMarginFlag").attr("checked")){
			promoterMinMargin="";
		}
		if(fastSettleLimit==''){
			alert("填写额度");
			return false;
		}
		if(loaningType==''){
			alert("请选择垫资方");
			return false;
		}
    	if(!confirm("是否确认修改？（不可撤销，修改后代理商将收到短信通知）")){
    		return false;
    	}
    	jQuery.ajax({
			type: 'POST',
		    url: "#springUrl('/fastSettle/newt0/fastSettleSaveEdit.do')" ,
		    data: {mcId:mcId,fastSettleLimit:fastSettleLimit,loaningType:loaningType,minMargin:promoterMinMargin} ,
		    dataType: "json",
		    success: function(data){
		    	alert(data.errorMessage);
				if(data&&data.success==true){
					window.close();
				}
		    }
		});
    }
	function fastSettleLimitChange($s){
    	if(jQuery($s).val()==1){
    		jQuery("#fastSettleLimit").removeAttr("disabled");
    	}else if(jQuery($s).val()==0){
    		jQuery("#fastSettleLimit").val(fastSettleMargin);
    		jQuery("#fastSettleLimit").attr("disabled","disabled");
    	}
	}
	function promoterMinMarginFlagChange($s){
    	if(jQuery($s).attr("checked")){
    		jQuery("#promoterMinMargin_span").show();
    	}else{
    		jQuery("#promoterMinMargin_span").hide();
    	}
	}
</script>