<LINK href="#springUrl('/htdocs/msp/css/base.css')" type="text/css" rel="stylesheet">
<table class="dtlTb" cellspacing="1" cellpadding="0">
	<tr>
		<td class="lbl">拓展方商户号：</td>
		<td width="120" ><input type="hidden" name="promoterId" id="promoterId" value="${promoter.mcId}"/>${promoter.mcMerchantNo}</td>
		<td class="lbl">拓展方名称：</td>
		<td width="160" >${promoter.mcMerchantName}</td>
		<td class="lbl">拓展方类型：</td>
		<td width="150" >
			#if("${promoter.mcType}"=="0003")POS拓展方
            #elseif("${promoter.mcType}"=="0007")MPOSPOS拓展方
            #elseif("${promoter.mcType}"=="0101")云收银拓展方#end
		</td>
	</tr>
	<tr>
		<td class="lbl">创建时间：</td>
		<td width="120">#showDateTime($!{promoter.mcCreateTime})</td>
		<td class="lbl">商务经理：</td>
		<td width="160">$!{promoter.businessManager}</td>
		<td class="lbl">拓展方状态：</td>
		<td width="150">
			#if("$!{promoter.mcStatus}"=="3")正常#end
            #if("$!{promoter.mcStatus}"=="0" || "$!{promoter.mcStatus}"=="1" || "$!{promoter.mcStatus}"=="2" || "$!{promoter.mcStatus}"=="4")关闭#end		
		</td>
	</tr>
	<tr>
		<td class="lbl" height="500">拓展区域</td>
		<td colspan="6" >
			<div id="promoterDct" style="height:300px;overflow: scroll;">#parse("/fastSettle/promoter/detailArea.vm")</div>
		</td>
	</tr>
	<tr>
		<td class="lbl">限制拓展MCC</td>
		<td colspan="6">
			<div id="promoterMcc">#parse("/fastSettle/promoter/detailLimitMcc.vm")</div>
		</td>
	</tr>
</table>
<div class="alC mgT10">
	<input type="button" id="closeBtn" onclick="window.close();" value="关闭" />
</div>